[2015-02-05 12:26] jexp commented on #39
That's true, we noticed it ourself and have planned to unify that. We couldn't easily decide on a structure/type to support that caters both the embedded and remote case and so it got lost again.

But definitely rs.getString() should return the same representation.
Actually the remote rs.getObject() returns a map afaik.

[2015-02-05 12:43] tkolsen commented on #39
Yes your right. The remote returns java.util.LinkedHashMap and the in-memory returns org.neo4j.kernel.impl.core.NodeProxy.

[2015-02-12 11:56] mneedham commented on #40
@kakjelsb the current snapshot is 2.1.8. The latest released is 2.1.7 but you want to look here for that - http://m2.neo4j.org/content/repositories/releases/org/neo4j/neo4j/

[2015-04-28 10:17] jexp commented on #44
Thanks for your report, really seems like race condition.
Are the multiple threads running those transactions concurrently?

Perhaps we can reproduce it with a stress test.

I assume you use setAutoCommit(false) and connection.commit() ? for the DML statements?

Do you use PreparedStatements or normal Statements?

Perhaps you can provide a snippet of your code (or similar one) so that we reproduce

[2015-06-25 13:02] jexp commented on #46
Added Apache v2 License

[2015-07-31 09:19] cmdares commented on #17
In order to improve the writing performance, hope to achieve "addBatch and executeBatch" as quickly as possible.thanks.

[2015-07-31 10:50] britter commented on #17
#35 has been merged so this issue can be closed.

[2015-09-22 11:37] IdanFridman commented on #29
Hi, Any progress on that one?

[2015-10-22 01:09] jexp commented on #50
You'd do it with your load balancer

See the neo4j manual

Von meinem iPhone gesendet

[2015-12-03 08:27] jexp commented on #53
It should probably not do that, but just fail if it not escaped.

`CREATE (n:Label { json : {1} }) `
-> parameter `statement.setParam(1, "{\"key\":\"value\"}")`

In general single quotes for your strings in cypher.

[2015-12-14 15:31] aliteralmind commented on #8
I am also having this issue with

http://dist.neo4j.org/neo4j-jdbc/neo4j-jdbc-2.0.1-SNAPSHOT-jar-with-dependencies.jar

Which is the only version available on the [readme](https://github.com/neo4j-contrib/neo4j-jdbc)

Where can I download more recent versions?

Thanks.

[2015-12-14 15:35] aliteralmind commented on #8
Better yet, how can I import them into gradle?

[2015-12-15 11:24] jexp commented on #8
Right, I'll update the readme, in general you can check here:

https://m2.neo4j.org/content/repositories/snapshots/org/neo4j/neo4j-jdbc/

[2015-12-22 22:07] fbiville commented on #55
The bug manifests itself in `2.0.2`, therefore a fix to 2.0 branch would be super nice.

[2015-12-26 00:08] jexp commented on #57
Yes, you're right, it should use ((Number)value).intValue() I think.

wanna senda  PR ?

[2015-12-27 23:54] fbiville commented on #57
Yep, will do tomorrow :)

[2015-12-28 14:10] fbiville commented on #58
All the following should be supported out of the box, I think:

- [ ] `boolean[]`
- [ ] `Boolean[]`
- [x] `byte[]`
- [ ] `Byte[]`
- [ ] `short[]`
- [ ] `Short[]`
- [ ] `int[]`
- [ ] `Integer[]`
- [ ] `long[]`
- [ ] `Long[]`
- [ ] `float[]`
- [ ] `Float[]`
- [ ] `double[]`
- [ ] `Double[]`
- [ ] `char[]`
- [ ] `Char[]`
- [ ] `String[]`

[2015-12-28 15:53] fbiville commented on #55
The thing is, `EmbeddedDatabases` already defines a `GraphDatabaseService` [cache](https://github.com/neo4j-contrib/neo4j-jdbc/blob/2.0/src/main/java/org/neo4j/jdbc/embedded/EmbeddedDatabases.java#L64).

I guess the bug that caused this [Liquigraph workaround](https://github.com/fbiville/liquigraph/commit/2be2bd7994af9f8cd283a83356a2c7879ca846df) is somewhat subtler?

WDYT @jexp?

[2016-02-11 00:16] jexp commented on #60
I think that's a shortcoming of DbVisualizer which interprets our labels as parameters.

Can you try to escape the label with backticks?

aka:
[code]

or add some more spaces between colon and label-name?

[2016-02-11 08:42] ericlentz commented on #60
Thanks, perfect, the space did it. This works:
`MATCH n where (n: Movie) RETURN n`

[2016-02-21 15:35] IdanFridman opened #61 "Open/Close connection before each requestt"
I would like to know if we should open and close connection before executing each prepared statement? thats not clarify by your examples.

Thank you.

[2016-02-21 15:37] IdanFridman commented on #32
Should we create new connection for each request or is it ok to use same connection for all requests ?

[2016-02-21 22:15] jexp commented on #32
I would use at most one connection per thread, usually it should be fine to share them.

[2016-02-22 16:13] IdanFridman commented on #32
I am still having crazy performance issues. I tried to execute around 200 requests per second. the query is pretty naive. I took a thread-dump and a profiler mybe you have any idea?

Profiler:
![pasted image at 2016_02_22 04_15 pm](https://cloud.githubusercontent.com/assets/4889650/13224156/eaf58832-d98f-11e5-88fb-5e1e5baf98cf.png)

[thread-dump:](https://gist.github.com/IdanFridman/adf954ebf49a0d

[2016-02-22 23:08] jexp commented on #32
Do you have a small project to share that does this? Which I could run out of the box?
Which version of the JDBC driver do you use? I recently released 2.3.2.
How do you manage your concurrency? Via HC ? Or a normal threadpool / parallel-streams?

[2016-02-23 08:16] IdanFridman commented on #32
I am using org.neo4j:neo4j-jdbc:2.3.2
I manage concurrency via Threadpool (which holds only one connection)
I dont have out of the box project but here are two classes which hold the datasource and the query against the database which should be clear what's happening:

Neo4jDataSource:

https://gist.github.com/IdanFridman/69eabfd92e1810898f3f

neo4j Query execution using the Datasource:

https://g

[2016-02-23 08:55] jexp commented on #32
What kind of concurrency do you get when you execute that query with a plain commandline tool via REST (e.g. apache bench `ab`) POSTing the JSON?

I mean if you only have one thread in your pool then the concurrency is also limited by that.
We would also have to check the http connection pooling of the underlying library.

But good feedback, thanks!

[2016-02-23 09:05] IdanFridman commented on #32
"What kind of concurrency do you get when you execute that query with a plain commandline tool via REST" what do you ask by that? not sure I get it

I dont have only one thread in my pool. I have one connection in my pool having multiple threads using it.

Have you ever experienced or heard about performances issues using your lib?

[2016-02-23 09:10] IdanFridman commented on #32
btw: do you know about an async neo4j client? we using vertx here

[2016-04-06 13:20] tahaeghtesad opened #63 "Escapes"
The function JsonUtils.escapeQuery() does not work properly.
It changed a correct Cypher query to a something not so valid.

It makes a query like this:

`MERGE (n:Person{id:'402314452'}) ON MATCH SET n+={id:'402314452', username:'user', fullName:"Us'er", profile_picture:"https://www.shit.org"} ON CREATE SET n={id:'402314452', username:'user', fullName:"Us'er", profile_picture:"https://www.shit.or

[2016-04-06 13:21] tahaeghtesad commented on #63
And of course it does not correctly escape ' s.

[2016-04-09 02:08] psilons commented on #29
Hi Michael,

Just want to check update/progress on this? As I mentioned to Neo4j support team, this driver helps us a lot. Combined with Spring framwork,

1. The error handling is much simpler.
2. Database transactions are enabled with Spring framework's transaction manager, it's free.
3. Using JDBC in conjunction with Spring framework's JdbcTemplate is convenient and less coding. With Spring's Ro

[2016-04-25 14:21] alex-ackerman commented on #12
@jakewins can we maybe simply assume, that when calling getBytes() the content is base64 string and then just return something like DatatypeConverter.parseBase64Binary(getString())?

[2016-06-01 13:04] jexp opened #1 "test"

[2016-06-01 13:04] #1 closed, assigned to nobody

[2016-06-01 13:04] jexp opened #2 "Test with Squirrel SQL"

[2016-06-01 13:04] jexp opened #3 "Test with IntelliJ"

[2016-06-01 13:04] jexp opened #4 "Test with DBVizualizer"

[2016-06-01 13:04] jexp opened #5 "Test with Talend with JDBC component"

[2016-06-01 13:04] jexp opened #6 "Test with Matlab [and docs]"

[2016-06-01 13:04] jexp opened #7 "Test with LibreOffice"

[2016-06-01 13:04] jexp opened #8 "Test with Eclipse BIRT"

[2016-06-01 13:04] jexp opened #9 "Test with Aqua Data Studio"

[2016-06-01 13:04] jexp opened #10 "Test with Jasper Reports"

[2016-06-01 13:05] jexp opened #11 "Test with Pentaho Kettle"

[2016-06-01 13:05] jexp opened #12 "Test with Qlikview"

[2016-06-01 13:05] jexp opened #13 "Test with Ataccama DQ Analyzer"

[2016-06-01 13:05] jexp opened #14 "Test with SQL Explorer"

[2016-06-01 13:05] jexp opened #15 "Test with SQL Workbench"

[2016-06-01 13:05] jexp opened #16 "Test with SQLShell (clapper)"

[2016-06-01 13:05] jexp opened #17 "Test with APOC LOAD JDBC"

[2016-06-01 21:58] fbiville opened #18 "Possible bug: possible HTTP connection pool exhaustion"
https://github.com/fbiville/liquigraph/issues/82 reveals that for the last Liquigraph changeset insertion into Liquigraph history graph, the main thread hangs forever because it forever waits for a connection from Apache HTTP connection pool (you can see the actual main thread dump in the original issue).

This happens with the legacy JDBC driver.

Maybe it happens with the new one as well.

To em

[2016-06-01 21:59] fbiville commented on #18
Most of Liquigraph JDBC-related logic lives [here](https://github.com/fbiville/liquigraph/tree/master/liquigraph-core/src/main/java/org/liquigraph/core/io).

[2016-06-03 06:43] mvitz opened #19 "Cypher Query Parameter binding for PreparedStatement with Bolt Driver"
Yesterday I discovered that the bolt driver doesn't bind parameters defined with `{1}` in a cypher query. Is this by design or is this a bug? The 2.x driver bound these without any problems and it seems the new bolt driver just binds `?`-Parameters.

[2016-06-03 10:49] #19 closed, assigned to nobody

[2016-06-03 10:50] jexp commented on #19
Fixed

[2016-06-04 12:31] mvitz opened #20 "BoltStatement closes transaction when statement is closed and autoCommit was disabled"
I think this is a bug, because when I disable auto commit I don't want the transaction to be marked as failure and be closed after I close a single statement...

[2016-06-04 12:43] jexp commented on #20
Yes Transactions are bound to connections, not statements in jdbc.

Can you add a failing test?

Von meinem iPhone gesendet

[2016-06-04 13:20] mvitz commented on #20
See #22 for a test and a provided solution.
Maybe I'm missing something there as there was a test to check exactly that closing a statement closes the transaction but I think the new behaviour fits more ;-)

[2016-06-04 13:37] mvitz opened #23 "executeQuery with invalid cypher doesn't throw SQLException"
I expected that
`Statement stmt = connection.createStatement();
stmt.executeQuery("fooBar"):`
throws an SQLException but instead a Neo4J Internal Exception is thrown.

See https://github.com/mvitz/neo4j-jdbc/commit/53eb06f207c5a7f5bff108786033ee30fe76046a for a failing test.

[2016-06-04 14:31] jexp commented on #23
With which transport?

Von meinem iPhone gesendet

[2016-06-04 14:34] mvitz commented on #23
I tested IT with bolt. But looking at the implementation I guess HTTP throws an internal exception instead of SQLException as well

[2016-06-05 17:39] sim51 commented on #3
# Step 1: Driver
- On the **Database** panel, click on the icon that correspond to **Data Source Properties**
- Create a new Driver (called 'Neo4j' for example)
- In the `Driver files` panel, add Neo4j JDBC Driver jar
- Choose `org.neo4j.jdbc.Driver` into **Class** list
- Choose `<Generic>` into **Dialect** list

# Setp 2: Data Source
- On the **Database** panel, create a new **Data Source** and c

[2016-06-05 19:38] sim51 commented on #4
# Step 1: Driver
- Menu `Tools > Driver Manager`
- Menu `Driver > Create Driver`
- Give a Name to the diver
- On the `User Speicified` panel, click on the folder icon to add the Neo4j JDBC Jar
- `org.neo4j.jdbc.Driver` should now be selected into **Driver Class** list
- On the **URL Format**  put the jdbc bolt or http URL : `jdbc:bolt://localhost/?noSsl` or `jdbc:http://localhost`
- Create a datab

[2016-06-05 19:39] #4 closed, assigned to nobody

[2016-06-05 19:40] sim51 commented on #23
Bug is fix in master branch for Bolt & HTTP

[2016-06-05 20:44] mvitz commented on #3
I basically did the same step as you but I used a CREATE statement `CREATE (:Bar {name: "Foo"})`. Executing this results in a never ending process in IntelliJ (In the Output View a spinner keeps spinning). Cancelling this statement via IntelliJ results in an exception:

[code]

However the node is created.

[2016-06-05 23:59] jexp commented on #23
Thanks a lot @sim51 ! @mvitz can you confirm that it's fixed?

[2016-06-06 05:43] mvitz commented on #23
👍

[2016-06-06 05:46] mvitz opened #24 "JDBC Prefix different to 2.x"
The previous JDBC prefix was `jdbc:neo4j:...`. I like the new Prefix with `jdbc:bolt:..` and `jdbc:http:..` however I'm not sure that `jdbc:http:..` without any neo4j hint feels right. Maybe using `jdbc:neo4j:http:..` would be better?

[2016-06-06 05:50] mvitz opened #25 "JMH in provided scope"
I expected _JMH_ to be in _test_ _scope_ but found in it _provided_. Maybe there is a reason for that?
I also dislike the fixing to a _scope_ in _dependencyManagement_ but that is maybe just me.

[2016-06-06 05:53] mvitz opened #26 "Shading of all artefacts by design"
I just discovered that all artefacts are shaded by default. I personally would prefer to not doing that to not conflict with potentially other Neo4J artefacts on the classpath. But to provide a single JAR that can be used by a SQL tool that is a nice feature.

This ticket is primarily to document the decision that was taken by you and why. :-)

[2016-06-06 07:30] sim51 commented on #26
Thanks @mvitz for your feedback !

As you said, the goal is to provide a single jar (with all deps)  that can be easely used by a SQL tool.
And for each protocol (bolt & http) we have a dedicate maven project, so we can provide a jar that only match user's needs.

Moreover, we take care about what we have included as deps. For now there is only 3 :
- httpclient & jackson for the http driver (no mo

[2016-06-06 07:35] mvitz commented on #26
I don't have a specific case in mind but I'm aware that using shaded libraries can lead to problems. I remember some cases (with hadoop) were there were multiple jackson versions.

Shading could also be a licence problem (because technically) it's a redistribution. Maybe it would be a good idea to put these shaded classes into another package. Then interference in a project couldn't be any problem

[2016-06-06 07:42] sim51 commented on #24
For me it's just redundant with the driver class, but I see your point.

If we add the neo4j prefix, we must adding it to all url.
So do you prefer solution 1 or 2 ?
- `jdbc:bolt://localhost` & `jdbc:http://localhost` (1)
- `jdbc:neo4j:bolt://localhost` & `jdbc:neo4j:http://localhost` (2)

[2016-06-06 08:08] mvitz commented on #24
I think there are some tools that infer the driver class from the URI. Currently I would prefer solution 2.

[2016-06-06 08:10] ralfbecher commented on #24
I agree, this seems to be important in mixed environments.

[2016-06-06 08:15] sim51 commented on #25
You have right :
- for JMH, there is no reason
- it's a best practice to not put scope into dependencyManagement

[2016-06-06 08:16] #25 closed, assigned to nobody

[2016-06-06 08:43] jexp commented on #24
I would also prefer solution 2!

[2016-06-06 08:45] albertodeste commented on #24
In my opinion solution 2 is much more clean and clear.

[2016-06-06 09:05] albertodeste commented on #20
It was a misunderstanding situation that leaded to this bug, I now merged the pull request so it is fixed! Thank you mvitz for the fix!

[2016-06-06 09:05] #20 closed, assigned to nobody

[2016-06-06 09:08] mvitz commented on #20
No problem ;-) I looked at my commits again and found a few more refactorings I think are helpful. I will provide a new PR when I have time ;-)

[2016-06-06 09:59] #24 closed, assigned to nobody

[2016-06-06 10:02] jexp commented on #18
@fbiville Can you create a test that reproduces the issue?

[2016-06-06 11:01] jexp commented on #3
I got something similar with `match (n) return count(*)`

<failed to load>
org.neo4j.driver.v1.exceptions.NoSuchRecordException: Cannot peek past the last record
    at org.neo4j.driver.internal.InternalStatementResult.peek(InternalStatementResult.java:238)
    at org.neo4j.jdbc.bolt.BoltResultSetMetaData.getColumnTypeName(BoltResultSetMetaData.java:120)
    at com.intellij.database.remote.jdbc.im

[2016-06-06 11:03] jexp commented on #3
<img width="1568" alt="neo4j - localhost sql - neo4j-jdbc-parent - _java_neo_neo4j-jdbc - intellij idea 2016 2 eap" src="https://cloud.githubusercontent.com/assets/67427/15820048/05b3b8d4-2be7-11e6-98eb-d1d9e1cd1825.png">

[2016-06-06 11:26] fbiville commented on #18
OK, I'll do that this week.

[2016-06-06 20:37] mvitz opened #27 "META-INF/services/java.sql.Driver of neo4j-jdbc-driver artefact only contains entry for BoltDriver"
It seems during shading only the BoltDriver survives. The shade plugin needs to be configured to merge both files.

[2016-06-07 05:46] mvitz commented on #23
I don't know why but suddenly the bug occurs again (but on a slightly different position:

[code]

[2016-06-07 09:14] sim51 commented on #23
It's weird ... and I cant' reproduce it, even with the unit test (https://github.com/neo4j-contrib/neo4j-jdbc/blob/master/neo4j-jdbc-bolt/src/test/java/org/neo4j/jdbc/bolt/BoltStatementIT.java#L101-L112)

@mvitz What query have you used ?

[2016-06-07 09:26] mvitz commented on #23
I'm investigating this...
The Test has a small bug btw. the URL doesn't contain the new `jdbc:neo4j:`-Prefix but even after fixing this I'm not able to produce it with this test...

[2016-06-07 09:37] mvitz commented on #23
It has to do with `setAutoComit(false`...

Add the following snippet for a failing test:

[code]

[2016-06-07 09:41] sim51 commented on #23
Thanks a lot @mvitz !

PS: I have seen the little bug on the url, so I have added a condition on the error message.

[2016-06-07 21:41] #23 closed, assigned to sim51

[2016-06-07 21:46] #27 closed, assigned to nobody

[2016-06-07 21:56] sim51 commented on #3
Now it should be ok (except for the cancel part that is not implemented).
Can you test it and tell me ?

[2016-06-08 05:18] mvitz commented on #3
👍

[code]

Just as a hint/reminder. I used the following URL templates:
- **bolt** -> `jdbc:neo4j:bolt://{host::localhost}[:{port::7687}][\?<&,noSsl>]`
- **http** -> `jdbc:neo4j:http://{host::localhost}[:{port::7474}]`

[2016-06-08 05:20] mvitz commented on #64
See [neo4j-contrib/neo4j-jdbc](https://github.com/neo4j-contrib/neo4j-jdbc)

[2016-06-08 11:52] sim51 commented on #17
I have try this query :

[code]

But the result is :

[code]

[2016-06-08 11:54] sim51 commented on #16
On this tool I can make some queries, but I have never seen the result, only the update count.

[code]

[2016-06-08 12:14] jexp opened #29 "Performance Test Numbers"
relative numbers compare with neo4j-java-driver
- large cypher statement with lots of results
- many concurrent small queries

some absolute numbers for the publication

[2016-06-08 12:19] inserpio opened #30 "Test with Eclipse"
# Step 1: Create a new connection profile
- Open the **Database Developement** perspective:

<img width="1440" alt="screen shot 2016-06-08 at 12 17 40" src="https://cloud.githubusercontent.com/assets/6613815/15891647/ee537ca2-2d75-11e6-9bcb-fbc1e89d987c.png">

<img width="1440" alt="screen shot 2016-06-08 at 12 17 56" src="https://cloud.githubusercontent.com/assets/6613815/15891652/ee58c356-2d75-1

[2016-06-08 12:21] inserpio commented on #30
Tested in Eclipse Mars...

Please have a look at it for feedbacks :)

[2016-06-08 12:22] jexp opened #31 "Method supportsStoredProcedures in class org.neo4j.jdbc.DatabaseMetaData is not yet implemented."
In SquirrelSQL

Error: neo4j-test: java.lang.UnsupportedOperationException: Method supportsStoredProcedures in class org.neo4j.jdbc.DatabaseMetaData is not yet implemented.

[2016-06-08 12:27] jexp opened #32 "SquirrelSQL: Node / Relationship - Results don't work, all columns null"
[code]

<img width="1078" alt="squirrel sql client version 3 7 1" src="https://cloud.githubusercontent.com/assets/67427/15894227/00648bca-2d85-11e6-8f9c-e3a528c14e07.png">

[2016-06-08 12:28] sarmbruster opened #33 "Test with ODBC-JDBC bridges"
This allows e.g. using Microsoft office to access Neo4j.

[2016-06-08 12:29] jexp opened #34 "java.lang.UnsupportedOperationException: Method getWarnings in class org.neo4j.jdbc.ResultSet is not yet implemented."

[2016-06-08 13:00] jexp commented on #2
Works in general for scalar value
- Configured Driver via Add Driver -> Extra ClassPath
- Created New Session,
- Worked but gave a warning about 2.1 incompatibility

<img width="1568" alt="change driver_ neo4j" src="https://cloud.githubusercontent.com/assets/67427/15894295/67e6126e-2d85-11e6-96e5-b71a214f811b.png">

[2016-06-08 13:04] jexp opened #35 "Squirrel SQL array values don't work"
returned as nulll

[code]

<img width="1568" alt="squirrel sql client version 3 7 1-1" src="https://cloud.githubusercontent.com/assets/67427/15895193/4b9af980-2d8a-11e6-98fc-e066e37cefe7.png">

[2016-06-08 13:04] jexp opened #36 "can we support column class in ResultSetMetaData ?"

[2016-06-08 13:05] jexp opened #37 "Report Array values as SQL-Array-Type in ResultSetMetaData"

[2016-06-08 16:06] inserpio commented on #30
`MATCH (a:Person {name: "Tom Hanks"})-[r:ACTED_IN]->(m:Movie)`
`RETURN a.name, r.roles, m.title`

is ok

[2016-06-08 16:24] jexp opened #38 "getUserName in class org.neo4j.jdbc.DatabaseMetaData"
reported by intellij

org.neo4j.jdbc.Driver - jdbc:neo4j:bolt://localhost
            Method getUserName in class org.neo4j.jdbc.DatabaseMetaData is not yet implemented..

[2016-06-08 16:34] ralfbecher commented on #35
r.roles[0] etc. works

[2016-06-08 16:36] ralfbecher opened #39 "Squirrel works only with URL param ?noSsl"

[2016-06-08 16:37] ralfbecher opened #40 "Squirrel error on 2nd connect (after disconnect)"
org.neo4j.driver.v1.exceptions.ClientException: You cannot begin a transaction on a session with an open transaction; either run from within the transaction or use a different session.
    at org.neo4j.driver.internal.InternalSession.ensureNoOpenTransactionBeforeOpeningTransaction(InternalSession.java:196)
    at org.neo4j.driver.internal.InternalSession.ensureConnectionIsValidBeforeOpeningTransac

[2016-06-08 16:38] ralfbecher opened #41 "Squirrel error on connect"
Error: Neo4j 3.0 Bolt: java.lang.UnsupportedOperationException: Method supportsStoredProcedures in class org.neo4j.jdbc.DatabaseMetaData is not yet implemented.

[2016-06-08 16:40] ralfbecher opened #42 "Squirrel issue nulls when no field is specified"

[2016-06-08 16:41] ralfbecher commented on #42
![squirrelnulls](https://cloud.githubusercontent.com/assets/3512714/15902517/946c7f76-2da8-11e6-9df1-07f5e1251574.PNG)

[2016-06-08 16:45] ralfbecher commented on #42
duplicate #32

[2016-06-08 16:45] #42 closed, assigned to nobody

[2016-06-08 16:46] ralfbecher commented on #41
duolicate #31

[2016-06-08 16:46] #41 closed, assigned to nobody

[2016-06-08 16:46] ralfbecher commented on #31
occurs on connect

[2016-06-08 20:33] jexp commented on #3
<img width="1279" alt="org neo4j jdbc driver - jdbc_neo4j_bolt___localhost sql - apoc - _java_neo_procs_apoc - intellij idea 2016 2 eap" src="https://cloud.githubusercontent.com/assets/67427/15909918/fbf11218-2dc8-11e6-8440-c8a47d950909.png">

[2016-06-09 00:28] jexp opened #43 "it seems that the complex value for node/rel is only returned for the first column"
In IntelliJ

  MATCH (n:Person)-[r:ACTED_IN]->(m:Movie)
  RETURN n,r,m

only has this for n

{born=1964, name=Keanu Reeves, _id=11177, _labels=[Person]}

for `r`, and `m` both are `null`

the separate, generated columns all are filled with valid values.

[2016-06-09 01:00] jexp opened #44 "Caused by: java.lang.UnsupportedOperationException: Method getStatement in class org.neo4j.jdbc.ResultSet is not yet implemented."

[2016-06-09 01:19] jexp opened #45 "support https"

[2016-06-09 02:59] #37 closed, assigned to nobody

[2016-06-09 02:59] #36 closed, assigned to nobody

[2016-06-09 02:59] #38 closed, assigned to nobody

[2016-06-09 07:45] enricomarin commented on #10
Missing method:
ResultSetMetaData.getColumnClassName
DatabaseMetaData.storesLowerCaseIdentifiers

[2016-06-09 14:22] enricomarin commented on #10
# Step 1: Create new Data Adapters:
- Right click on **Data Adapters** and click on **Create Data Adapter** and select "Database JDBC Connection**

![image01](https://cloud.githubusercontent.com/assets/15228280/15931473/2f81674c-2e58-11e6-9dfc-f3fed514f9fe.png)
![image02](https://cloud.githubusercontent.com/assets/15228280/15931644/ebf0e510-2e58-11e6-9b36-5feed0879a1c.png)
- Insert the values of *

[2016-06-10 06:36] jexp commented on #44
fixed

[2016-06-10 06:36] #44 closed, assigned to nobody

[2016-06-10 06:37] jexp commented on #31
fixed, returns false now

[2016-06-10 06:37] #31 closed, assigned to nobody

[2016-06-10 06:39] jexp commented on #10
The two issues are fixed
- [x] ResultSetMetaData.getColumnClassName
- [x] DatabaseMetaData.storesLowerCaseIdentifiers

[2016-06-10 08:38] sim51 opened #46 "debug mode"
Debug mode was removed in RC1, because we were using mockito, and we don't want to have a test library into the package.

This is a list of solution:
1. **Cglib** : work is already done with a few code modification, but Cglib is common lib so we should discovered libs conflicts with some products
2. **Javassist** : Same as cglib for conflicts
3. **Java proxy class** : It's possible to use native j

[2016-06-10 09:33] jexp commented on #46
I would also vote for 4. to start with (or as recommendation for users)
And then 3.

Not sure how important the full logging is? For development debugging it might be easier, then you have also access to all the private internal state.

[2016-06-10 10:44] inserpio commented on #46
In a past project where I was asked to debug the oracle driver, I wrapped it just like we are wrapping the java-bolt driver in this jdbc one. We could create an external project and people could decide to use neo4j-jdbc-driver-3.0.jar or neo4j-jdbc-driver-debug-3.0.jar

Here you can read about the oracle _g jar with log -> http://www.rgagnon.com/javadetails/java-0663.html

[2016-06-10 10:51] mvitz commented on #46
If 1) would be an easy alternative the maven-shade-plugin is capable of changing the packets (see https://maven.apache.org/plugins/maven-shade-plugin/examples/class-relocation.html) then cglib wouldn't conflict with any other library. The only problem that could come is that on a newer java version this driver would only be usable after a new version of cglib is provided.

[2016-06-10 14:43] #45 closed, assigned to sim51

[2016-06-10 14:43] sim51 commented on #45
# Importing Neo4j certificat to your JVM
- Open your browser on this : https://localhost:7473
- Export the certificat as a binary DER and save it on your filesystem (for example: /tmp/neo4j-cert.der)
- Execute this command  (replace @JAVA_HOME@ with your JVM location) :

[code]

[2016-06-10 15:45] sim51 commented on #17
After commit 6e82aa8a445c7bd156d1729d477b4c0795360f18 it's working, thanks @jexp

![image](https://cloud.githubusercontent.com/assets/231657/15970058/01334dfc-2f33-11e6-8cc8-9ad9658049cd.png)

[2016-06-10 15:45] #34 closed, assigned to nobody

[2016-06-11 12:36] sim51 commented on #16
It's working now on the master branch (6b166ec31bdb61f76279be717aa1f30ada5c553e)
- Copy Neo4j JDBC driver into `SQLSHELL_HOME/lib` folder
- Edit the configuration file `SQLSHELL_HOME/sample.cfg` for :
- Adding neo4j driver :

[code]
- Adding your database

[code]
- Now execute `sqlshell` with the configuration file to open `neo` database :
  `$> SQLSHELL_HOME/bin/sqlshell -c SQLSHELL_HOME/sample.c

[2016-06-11 12:36] #16 closed, assigned to nobody

[2016-06-11 12:40] sim51 commented on #17
- Copy Neo4j JDBC Driver jar into `NEO4J_HOME/plugins` folder
- Restart the databae
- Make some JDBC Queries like those ones :

[code]

[code]

[2016-06-11 12:40] #17 closed, assigned to nobody

[2016-06-11 12:51] sim51 commented on #3
I don't see anymore error : getUsername and other generic methods have been implemented.

So I close this issue, but feel free to reopen it if you have some errors.

[2016-06-11 12:51] #3 closed, assigned to nobody

[2016-06-11 13:19] sim51 commented on #7
# Step 1: Adding jar to Libre Office
- Open Libre Office
- Go to `menu > Tools > Options`
- In the new window, select in the tree `LibreOffice > Advanced`
- Click on the button `Class Path` button
- Click on `Add an archive` and select the JDBC driver
  ![image](https://cloud.githubusercontent.com/assets/231657/15985203/14fd151c-2fe6-11e6-842a-b953fb900caf.png)

# Step 2 : Create a Neo4j database

[2016-06-11 13:19] #7 closed, assigned to nobody

[2016-06-11 13:24] sim51 commented on #43
![image](https://cloud.githubusercontent.com/assets/231657/15985282/87323462-2fe8-11e6-90bd-d1d06bb41b5d.png)

[2016-06-11 15:29] inserpio opened #47 "Test with OpenOffice"
# Step 1: Adding driver jar to OpenOffice

**PLEASE NOTE: It has been tested on MAC OS X El Capitan 10.11.5**
- Open OpenOffice 4.1.1 (_4.1.2 has a known bug with java: see OO forum [here](https://forum.openoffice.org/en/forum/viewtopic.php?f=17&p=388543) and release notes [here](https://cwiki.apache.org/confluence/display/OOOUSERS/AOO+4.1.2+Release+Notes#AOO4.1.2ReleaseNotes-KnownIssues)_)
- Open

[2016-06-11 15:30] #47 closed, assigned to nobody

[2016-06-11 15:31] #30 closed, assigned to inserpio

[2016-06-12 09:19] sim51 opened #48 "Virtual column for bolt on node & relationship"
Compute virtual column for nodes & relations can't be correctly implemented on a JDBC driver, because  we will need to make a full scan on the result to compute the list of all column available (a result is a collection of static tuples).

For example if you make this query on the Movie graph `MATCH (n)-[r]->(m) RETURN n,r,m` you will have on `n` some `Movie` & `Person` nodes, that haven't the sam

[2016-06-12 09:22] sim51 commented on #43
One problem comes from this line : https://github.com/neo4j-contrib/neo4j-jdbc/blob/master/neo4j-jdbc-bolt/src/main/java/org/neo4j/jdbc/bolt/BoltResultSet.java#L323

We have to replace it by ; `value = this.current.get(this.current.keys().indexOf(keys[0]));`

But for `null` value (the main problem), take a look at #48.

[2016-06-12 09:24] sim51 commented on #32
Related to #43 & #48

[2016-06-13 09:52] ralfbecher opened #49 "ResultSetMetaData.getTableName not implemented"
java.lang.UnsupportedOperationException: Method getTableName in class org.neo4j.
jdbc.ResultSetMetaData is not yet implemented.
        at org.neo4j.jdbc.utils.ExceptionBuilder.buildUnsupportedOperationException(ExceptionBuilder.java:41)
        at org.neo4j.jdbc.ResultSetMetaData.getTableName(ResultSetMetaData.java:166)

Could return a tablename like "CypherQuery" or else

[2016-06-13 09:56] sim51 commented on #49
It's already implemented into master branch : https://github.com/neo4j-contrib/neo4j-jdbc/blob/master/neo4j-jdbc/src/main/java/org/neo4j/jdbc/ResultSetMetaData.java#L152-L154

From specification, returned an empty string is equal to  'not applicable'.

[2016-06-13 09:56] ralfbecher opened #50 "Connection.getWarnings not implemented"
java.lang.UnsupportedOperationException: Method getWarnings in class org.neo4j.jdbc.Connection is not yet implemented.
        at org.neo4j.jdbc.utils.ExceptionBuilder.buildUnsupportedOperationException(ExceptionBuilder.java:41)
        at org.neo4j.jdbc.Connection.getWarnings(Connection.java:277)

Should at least return NULL

[2016-06-13 10:13] #49 closed, assigned to nobody

[2016-06-13 10:13] #50 closed, assigned to nobody

[2016-06-14 07:30] albertodeste commented on #48
The issue you're referring to is related to a specific request for the Bolt Driver asked at the beginning stages. I think that in the specific situation you're describing (node - aka column in this case - with multiple types) could be partially solved with a sampling approach as Michael many times suggested to me. About the POJO for complex objects the idea was about returning a JSON (as it actual

[2016-06-14 08:09] sim51 commented on #48
1) Like you said, a sampling approach will solve some cases, but not all of them ...
Moreover, with this solution, you can execute the same query two times, and not to have the same result (ie. same columns).

2) For complex object, the driver return a Map, so it's perfect.

[2016-06-14 08:25] jexp commented on #48
It is intentional for tools that can't deal with Map objects.

And I think the sampling etc. is fine as long as we can get it to work.

[2016-06-14 09:16] albertodeste commented on #40
Can you check if it is working now? I pushed a potential fix.

[2016-06-14 09:56] ralfbecher commented on #40
..if you update the jar

[2016-06-14 10:19] albertodeste commented on #40
Updated ;-)

[2016-06-14 10:24] #40 closed, assigned to nobody

[2016-06-15 11:57] jexp commented on #39
@ralfbecher was this resolved with my updates?

[2016-06-15 11:58] jexp commented on #18
@fbiville did you find time for this?

[2016-06-15 11:58] jexp commented on #12
@ralfbecher want to add your findings?

[2016-06-15 12:21] jexp commented on #29
Test with all 2 transports

Use threadpool / fork-join-pool / parallel-stream with a sensible distribution, e.g. 90% reads and 10% writes.

Measure throughput (req/s), latency per thread count.

For example small social network:

### Writes:

[code]

### Reads

[code]

[2016-06-15 13:05] fbiville commented on #18
Oops, escaped my radar. Let me try tomorrow.

[2016-06-16 15:31] #39 closed, assigned to nobody

[2016-06-16 15:33] ralfbecher commented on #12
Works with TIQ Solutions' JDBC Connector

[2016-06-16 16:39] #18 closed, assigned to nobody

[2016-06-17 11:16] glaggia-larus commented on #43
commit 260a5d3  adds two failing tests that highlight the problem

[2016-06-17 11:17] glaggia-larus commented on #32
commit 260a5d3  adds two failing tests that highlight the problem

[2016-06-17 17:10] glaggia-larus commented on #43
Commit 3e34ea8 _could_ be resolutive also for this issue. @jexp if you confirm we can close this issue.

[2016-06-17 17:11] albertodeste commented on #32
Fixed in 3e34ea8

[2016-06-17 17:11] #32 closed, assigned to nobody

[2016-06-17 21:55] enricomarin commented on #11
# Step 1: Create database connections:

Right click on **Database connections** and click on **New**

![image01](https://cloud.githubusercontent.com/assets/15228280/16164582/463fc1f8-34df-11e6-9dac-f62def4311e2.png)

Insert the connection parameters for source database the press **Test** button to check the connection:

![image02](https://cloud.githubusercontent.com/assets/15228280/16164800/74c1b7

[2016-06-18 09:12] fbiville opened #51 "ResultSet#close cannot be called multiple times"
Instead, an exception will be thrown if called when it's already closed.
Therefore, the following code used to work with the legacy JDBC driver, won't work now:

[code]

`Statement` closes `ResultSet` first and `ResultSet` explicit close will fail.

[2016-06-18 09:14] fbiville opened #52 "Improve HTTP driver URL validation error message"
The error message when the JDBC connection string is not correct is weirdly phrased:

[code]

Best would be to give a few examples of correct connection strings.

[2016-06-18 23:16] glaggia-larus commented on #52
I agree in changing that message, however I personally don't like to put instructions in exceptions' messages.
For this reason I label this as a bug for now, if we decide to enhance that message I will mark it also as an "enhancement"

[2016-06-18 23:25] glaggia-larus commented on #51
@fbiville I assume that you are referring at the HTTP module, can you confirm?

In that case I agree in what you said, as stated in the specifications for that method "Calling the method close on a ResultSet object that is already closed is a no-op."

I didn't see any problem with the BOLT module though.

[2016-06-19 00:07] #51 closed, assigned to nobody

[2016-06-19 18:07] fbiville commented on #51
Sorry for the late reply. Yes, it occurred when I used the HTTP module.

[2016-06-20 07:46] glaggia-larus commented on #51
I've updated the jar in the release section, can you please check if the problem is solved?

[2016-06-20 12:30] jexp commented on #52
@glaggia-larus Actually there is an API design book that advocates adding the information to exception messages that helps users make the exception to go away.

Our drivers team adopted that for our drivers, so if we can do the same I'd be for it.

[2016-06-20 12:35] glaggia-larus commented on #52
Perfect, I've added the enhancement label. I don't know if I will be able to look at this today, in case I'll do, I will assigne this to me.

[2016-06-20 15:42] #52 closed, assigned to glaggia-larus

[2016-06-20 15:43] glaggia-larus commented on #52
Now the exception returns:

[code]

[2016-06-20 22:45] jexp commented on #11
really cool @enricomarin
two things
1. you should use org.neo4j.jdbc.Driver (not BoltDriver)
2. for the create statement the `"" +` should not be used, Neo4j should figure out the datatype itself.
   if there is _really_ a need use `toString({1})`

[2016-06-21 10:33] enricomarin commented on #11
updated!

[2016-06-22 17:06] psilons opened #53 "In memory db with JDBC"
It seems that with the new JDBC driver for Neo4j 3.0.x, the in memory database is not working:
jdbc:neo4j:mem:mydb
jdbc:neo4j:file:/home/user/neo/graph.db
as described in https://github.com/neo4j-contrib/neo4j-jdbc-2x.

Is there any plan to support these? They are very convenient for unit/integration testing.

Thanks

[2016-06-22 17:18] mvitz commented on #53
I planned implementing this and had a look at the old implementation  but didn't have enough time till now doing it ;-)

[2016-06-22 19:29] psilons commented on #53
Thanks a lot, Michael. Really appreciate it.

[2016-06-23 08:35] sim51 commented on #5
I have made a simple test with Talend JDBC components, and it's working.
I will make the documentation.

[2016-06-23 08:49] jexp commented on #48
Decision:
- make it a connection parameter: `flatten=sampleRows` , where sampleRow is the number of rows that are sampled to figure out the columns, if -1 then sample all rows
- by default switched off

[2016-06-23 08:53] #2 closed, assigned to jexp

[2016-06-23 08:53] #5 closed, assigned to nobody

[2016-06-23 08:53] #10 closed, assigned to albertodeste

[2016-06-23 08:53] #11 closed, assigned to albertodeste

[2016-06-23 08:53] #12 closed, assigned to nobody

[2016-06-24 16:24] psilons opened #54 "Queries are broken with HTTP driver"
code:
Class.forName("org.neo4j.jdbc.Driver");
// switch between these two, proves http is broken for queries
Connection conn = DriverManager.getConnection("jdbc:neo4j:bolt://localhost:7687?noSsl");
 //Connection conn = DriverManager.getConnection("jdbc:neo4j:http://localhost:7474");

String cypher = "MATCH (p:Test) RETURN p"

with bolt connection, query with cypher returns > 1 rows.
with http conn

[2016-06-25 15:25] sim51 commented on #54
Hi

Can you test with a released version ? (ie not the RC1).

And what do you mean with this sentence,

`
It seems that verison 2.3.2 is broken with Neo4j 3.0, but version 2.3.2 works fine with Neo4j 2.2.
`

Thanks for your feedback

[2016-06-25 16:04] jexp commented on #54
@psilons are you sure you're using this version, not the previous one?

This is a new implementation of a jdbc driver

[2016-06-25 17:10] psilons commented on #54
In our production environment, we have Neo4j 2.2.7 clusters. We currently use JDBC driver 2.3.2
        <dependency>
            <groupId>org.neo4j</groupId>
            <artifactId>neo4j-jdbc</artifactId>
            <version>2.3.2</version>
        </dependency>
Don't have any issue with this.

Now we plan to move to Neo4j 3.0.x, so i play around with Neo4j 3.0.3 and the new JDBC driver 3.0-RC1

[2016-06-26 07:49] mvitz commented on #54
I can confirm the behaviour of the previous (https://github.com/neo4j-contrib/neo4j-jdbc-2x) driver with a Neo4J 3.x Instance.

[2016-06-27 07:26] albertodeste commented on #48
Implemented

[2016-06-27 07:26] #48 closed, assigned to albertodeste

[2016-06-27 07:47] albertodeste commented on #43
@jexp, @sim51 can you check if the bug is still present?

[2016-06-27 08:24] inserpio commented on #54
From our side, we can start looking at "_The new JDBC driver 3.0-RC1 does not work with commons dbcp2_".

[2016-06-27 10:29] albertodeste commented on #35
This bug seems related to the SquirrelSQL way to manage java.sql.Array (SQL type = 2003), In the previous version of the driver it used to work because the array was returned as a String so everything worked fine.
I tried a specific approach for SquirrelSQL but I can't find a System.property which is related to it.
Do you have ideas? Personally I prefer to return a java.sql.Array instead of a Stri

[2016-06-28 09:21] mvitz opened #55 "Deploy RC and Snapshots to Maven Repository"
It seems that currently wether the RC nor any Snapshot is deployed into any public accessible Maven Repository. Is it possible to change this? Maybe now since these is an "official" Neo4j project it's possible to use the neo4j-repo?

[2016-06-28 09:27] jexp commented on #55
You mean like this?

https://m2.neo4j.org/content/repositories/releases/org/neo4j/neo4j-jdbc-driver/3.0-RC1/

There is also https://jitpack.io/ which seems to be a cool way of treating GH releases as Maven repos.

[2016-06-28 09:27] #55 closed, assigned to nobody

[2016-06-28 09:29] mvitz commented on #55
Argh I looked at snapshots and into staging ;-) Thanks for pointing out the obvious.

jitpack.io may be cool but isn't an option for me. I like relying on stable release stuff not on changing git repos ;-)

[2016-06-28 09:38] jexp commented on #54
@mvitz @psilons there is too much confusing information, can you clearly state what's broken (with a test setup) with the 2.3.2 driver and 3.0.x server and please raise the issue here: https://github.com/neo4j-contrib/neo4j-jdbc-2x

[2016-06-28 09:40] jexp commented on #46
What's the last status on this? Is there any low key thing that we can do?

[2016-06-28 09:44] mvitz commented on #54
Unfortunately I can't find the exact query that was broken in our application. But as I don't expect the 2.3.2 driver to work with a 3.0.x server there is no need for a issue from my side. I'll wait till the 3.x driver is ready to use and migrate after that.

[2016-06-28 10:10] jexp commented on #43
Yes I can confirm that it works now, well done. Thanks!

[2016-06-28 10:10] #43 closed, assigned to nobody

[2016-06-28 10:11] jexp commented on #48
Good job, works well!

[2016-06-28 10:46] albertodeste commented on #54
@psilons can you test your spring-jdbc code with the latest neo4j-jdbc release (https://github.com/neo4j-contrib/neo4j-jdbc/releases/download/3.0-RC1/neo4j-jdbc-driver-3.0-RC1.jar) maybe adding it manually to your local maven?
I ask you this because I tested that jar with the movies-java-spring-boot-jdbc example (https://github.com/neo4j-examples/movies-java-spring-boot-jdbc) and it works fine wit

[2016-06-28 11:55] justinwyer commented on #54
I faced the problem using neo4j-jdbc 2.3.2 against neo4j server 3. Updating to neo4j-jdbc 3.0-RC1 resolves the issue. Some queries which return multiple results in the neo4j browser will only return a single result in neo4j-jdbc 2.3.2.

An example of such a query is:
`MATCH (document:Identity:DOCUMENT {id: ?})<-[r:VIEWER|EDITOR|SIGNATORY*1..]-(party:Identity) UNWIND (r) as s RETURN document, COLLE

[2016-06-28 12:35] glaggia-larus commented on #54
@justinwyer it seems to me like a problem on jdbc legacy (2.3.2). Can you please open an issue here?
[https://github.com/neo4j-contrib/neo4j-jdbc-2x](https://github.com/neo4j-contrib/neo4j-jdbc-2x)

[2016-06-28 12:41] justinwyer commented on #54
@glaggia-larus I was just commenting on the issue as there seemed to be some confusion to the opening poster issue. I also left the comment in case users experience this problem in future.

[2016-06-28 18:55] psilons commented on #54
@albertodeste Bravo, your version of 3.0RC1 passed my unit tests with Spring JdbcTemplate (I manually downloaded from your link and put it in my local mvn repo). This is great, really appreciate it.
The connection pool works now.

I didn't create an issue in neo4j-jdbc-2x was because I am not sure which way to go, fix it in 2.3.2 or wait for 3.0 release.

Thanks all for the help.

[2016-06-29 00:45] mattfiocca opened #56 "JDBC Driver for Solr?"
Hello,

I have absolutely zero experience working with .jar files and java as a whole, but what i'm looking to do is see if I can use this as a jdbc driver for Apache Solr (v6.1.0).

In the xml configurations for Solr, it lets me specify a jdbc driver (.jar) as the connection driver to our data store (Neo4j in our case). In your docs, you say "Add the JDBC driver jar file to your project", but I a

[2016-06-29 06:14] freeeve commented on #56
You can get the jar file here: https://github.com/neo4j-contrib/neo4j-jdbc/releases

You want to drop it in your solr/lib folder, then use it like you would any jdbc driver in your data import handler, etc.--define your entities, define your cypher queries, and use the connection URL like it is defined in the readme. We managed to migrate our solr data import handler from Oracle to Neo4j in an aft

[2016-06-29 07:43] #56 closed, assigned to nobody

[2016-06-29 07:53] glaggia-larus commented on #54
Thanks to you for your feedback,

I'm closing this as solved for this version of the driver (I'm referring to neo4j-jdbc 3.0-RC1 +)

[2016-06-29 07:53] #54 closed, assigned to albertodeste

[2016-06-29 08:21] inserpio commented on #56
@glaggia-larus, all, it would be nice to have add solr among the tested tools (with an example and some screenshots), no?

[2016-06-29 08:24] albertodeste opened #57 "Test with Solr"

[2016-06-29 14:26] freeeve commented on #56
My colleague today corrected me saying there is a special lib folder for data import handlers, it's not the root Solr lib. At least in version 5.4 that we are using.

[2016-06-29 16:15] mattfiocca commented on #56
awesome guys!

I'm working this into my solr setup now. Thanks for your guidance.

[2016-06-29 22:43] mattfiocca commented on #56
For what its worth,

Our neo-solr data import handler is working like a champ!

My only beef is in not knowing how to do the delta queries in Solr given the last index date is stored as a date string Solr-side, making it difficult to compared this date with our unix timestamp long integers representing our modified dates in our neo data. So, we are handling indexing of incremental saves/deletions

[2016-06-30 21:20] fpavageau opened #58 "Transaction should be rolled back on error with the HTTP driver"
According to the documentation ([Handling errors](http://neo4j.com/docs/developer-manual/current/#rest-api-handling-errors) and [Handling errors in an open transaction](http://neo4j.com/docs/developer-manual/current/#rest-api-handling-errors-in-an-open-transaction)), the transaction will have been rolled back server-side if the response contains errors.

If no transaction is open yet, running e.g.

[2016-07-01 07:50] #58 closed, assigned to nobody

[2016-07-01 19:21] albertodeste commented on #8
1. Start a new "Report project" under "Report design" perspective
   ![image](https://cloud.githubusercontent.com/assets/13695124/16531592/82aa4d36-3fcd-11e6-8865-17d044d34743.png)
2. Select the project's name
   ![image](https://cloud.githubusercontent.com/assets/13695124/16531611/9ffe01d4-3fcd-11e6-8e45-c9f3841a8436.png)
3. Create a new report (File->New->Report) and give it a name
   ![image](h

[2016-07-05 12:40] #8 closed, assigned to albertodeste

[2016-07-05 12:42] jexp opened #60 "KNIME: getRow in class org.neo4j.jdbc.ResultSet is not yet implemented"
using knime (https://www.knime.org/downloads/overview) and getting this error message "Execute failed: Method getRow in class org.neo4j.jdbc.ResultSet is not yet implemented." Any quick hints? Otherwise I'll dig into later.

But I guess that method is not implemented :
https://github.com/neo4j-contrib/neo4j-jdbc/blob/master/neo4j-jdbc/src/main/java/org/neo4j/jdbc/ResultSet.java#L273-L275

[2016-07-06 07:52] #60 closed, assigned to sarmbruster

[2016-07-07 00:03] jexp commented on #29
@albertodeste use this constraint as well:

[code]

[2016-07-07 01:12] inserpio commented on #29
@albertodeste & @glaggia-larus wrote a small project for that:
https://github.com/larusba/neo4j-jdbc-performance-test.

I just add the `CONSTRAINT` as asked above by @jexp.

Here's the output for my macbook machine:

[code]

**34-44ms for writes
13ms for reads
11757 nodes created
36151 rels created
with execution time = 200sec and 100 threads**

[2016-07-08 22:12] fpavageau opened #62 "Empty transactions are rolled back differently in Bolt and HTTP"
PR fbiville/liquigraph#105 in Liquigraph currently fails when using the HTTP driver but not the Bolt driver because of a different behavior in `Connection.setAutoCommit(false)` leading to a different code path taken in `Connection.rollback()` when the uncommitted transaction is actually empty.
# `rollback` implementation
## HTTP driver

[`HttpConnection`](https://github.com/neo4j-contrib/neo4j-jdb

[2016-07-09 13:35] glaggia-larus commented on #62
I am investigating on this, I have to admit that I don't have more than few hours today, but I am forced to ask you:

can you to replicate this error with an IT test?

I was looking at the issue on liquigraph but it's not of too much help (for me) in understanding precisely when the error is happening.

What I can briefly say is that the behavior of BOLT and HTTP module **has to be equal in both c

[2016-07-09 14:46] glaggia-larus commented on #62
In addition to what I wrote:

**TL;DR**
there is technically no nullity check missing in that method.

---

The connection is created with autocommit set to true as default.
When calling `setAutoCommit(boolean)` on a connection the first case is ALWAYS against an autoCommit true flag. This mean that, trying `setAutoCommit(true)` is a NOOP, and `setAutoCommit(false)` will never enter neither the fi

[2016-07-10 12:37] fpavageau commented on #62
I've opened PR #63 yesterday, containing integration tests showing the problem in a first commit, and a proposed fix in the second commit, by not throwing exceptions for empty commits or rollbacks.

The main behavior that is expected is still there: throw an exception when trying to commit or roll back a connection with auto-commit on. That's managed by `HttpConnection`, as is all the lifecycle, w

[2016-07-10 15:39] fpavageau commented on #62
By the way, here's what [the javadoc for `Connection.commit()` and `Connection.rollback()`](https://docs.oracle.com/javase/8/docs/api/java/sql/Connection.html#commit--) says about the thrown `SQLException`:

It says nothing about an empty transaction, so I think the fix respects the contract. It's nicer to be idempotent, too.

[2016-07-14 08:56] rgjamkhedkar opened #64 "Exception: java.lang.UnsupportedOperationException: Method isValid in class org.neo4j.jdbc.Connection is not yet implemented."
Getting this exception when using Driver with Scalikejdbc.

[2016-07-14 12:30] inserpio commented on #64
Hi Rohan, I confirm you the method is still not yet implemented as many other ones regarding meta-data, because we don't know exactly which ones are used by every tool and implementing all of them was too hard for Rel. 1.0.

We're going to prepare a patch for you asap.

Cheers,
Lorenzo

[2016-07-15 18:03] #62 closed, assigned to nobody

[2016-07-19 16:00] jasperdenkers opened #65 "play.api.PlayException: Cannot load Driver[Driver [org.neo4j.jdbc.BaseDriver] cannot be instantiated.]"
I'm trying to use the neo4j-jdbc driver with Play 2.5.

In `build.sbt` I have the following dependencies:
- `javaJdbc`
- `"org.neo4j" % "neo4j-jdbc" % "3.0"`

I've configured a database named neo4j in `application.conf`:

[code]

And just started trying out the setup using the following controller:

[code]

At first I had `db.neo4j.driver=org.neo4j.jdbc.Driver` as in [this example](https://github.

[2016-07-19 19:53] jexp commented on #65
Don't use BaseDriver but Driver

Von meinem iPhone gesendet

[2016-07-19 21:40] jasperdenkers commented on #65
I did before but that one could not be found. Seemed I used the wrong dependency: `"org.neo4j" % "neo4j-jdbc" % "3.0"` instead of `"org.neo4j" % "neo4j-jdbc-driver" % "3.0"`. Now the error above is gone.

However, now I get the following error:

[code]

The most relevant line seems `java.lang.UnsupportedOperationException: Method isValid in class org.neo4j.jdbc.Connection is not yet implemented.`.

[2016-07-19 21:43] sim51 commented on #65
There is already an issue for the non-implemented method `isValid`. See issue #64

[2016-07-20 07:34] slavakx opened #66 "Sql Workbench/J requires reconnection when any error in the query occurs"
I get the following error message every time when I run a query the second time when the first time the query contained any error:

N/A: Cannot run more statements in this transaction, because previous statements in the transaction has failed and the transaction has been rolled back. Please start a new transaction to run another statement.

When no errors are in the query it runs ok.

[2016-07-20 07:39] slavakx opened #67 "using RJDBC in R fails because of unimplemented ResultSet class in org.neo4j.jdbc"
I am trying to connect to Neo4j from R (I am aware of RNeo4j library though)

I get the following exception:

Method setFetchSize in class org.neo4j.jdbc.ResultSet is not yet implemented.

I manage to get a result object in <JDBCResult> but I cannot iterate through it.

My connection string is the following: jdbc:neo4j:bolt://localhost?noSsl,debug=true,flatten=[-1,100,1000])

[2016-07-20 14:07] sim51 commented on #66
Hi

Thanks for reporting this bug.

Can you respond to those questions :
- Are you on autocommit mode ?
- Can you give us your url connection ?

Cheers

[2016-07-20 15:09] slavakx commented on #66
Hi

The autocommit was the issue. It was off. It works fine with autocommit on.
Thanks!

[2016-07-20 19:29] #66 closed, assigned to nobody

[2016-07-20 19:31] #26 closed, assigned to nobody

[2016-07-20 19:36] sim51 commented on #46
The last status is that debug mode do nothing for now, so we are using p6spy.
In a future version, we have to implement the point 4 (ie. using Java proxy class).

[2016-07-21 01:44] jaxzin opened #68 "java.lang.UnsupportedOperationException: Method setTransactionIsolation in class org.neo4j.jdbc.Connection is not yet implemented."
This is in the 3.0 release of the `neo4j-jdbc-bolt` and `neo4j-jdbc-http` drivers. In my case I'm using [sql2o](http://www.sql2o.org/) but I suspect anyone using transactions via an ORM or Spring JdbcTemplate will run into this same issue.

[code]

[2016-07-21 03:02] rubby33 opened #69 "New driver can not reuse connection (java bolt driver)"
Hello, I used the old noe4j jdbc drvier based on rest before. it works well for our system except the performance.
Now, i change it to the neo4j-jdbc-bolt driver.  My system does not work welll.

Sometime it will throw the following error. BTW, i use a pool in our system.

[code]

[2016-07-21 03:17] rubby33 commented on #69
I use a jdbc connection pool . This connection pooling works by re-using connections. Thanks

[2016-07-21 10:00] rubby33 commented on #69
We modify **InternalSession.java**  and it seems that this problem will not happen

[code]

[2016-07-21 12:54] inserpio commented on #68
Hi @jaxzin, thanks for your feedback. We're going to release a patch for this asap. Stay tuned.

[2016-07-21 13:26] glaggia-larus commented on #65
As Benoit pointed out this is related to issue #64, I mark this as duplicate, until #64 is resolved.

After the resolution of that, we'll verify if this issue is still open or not.

[2016-07-21 15:42] inserpio commented on #69
Hi @rubby33, the **InternalSession** class you're mentioning is not part of the JDBC driver, it's part of the java bolt driver we're wrapping instead (https://github.com/neo4j/neo4j-java-driver/blob/1.1/driver/src/main/java/org/neo4j/driver/internal/InternalSession.java).
We cannot change it, but let us investigate a little bit better the problem to find a solution for that issue.

[2016-07-21 15:51] glaggia-larus commented on #64
This should be fixed for BOLT module with c7acc09

A new snapshot version jar is available here: https://github.com/neo4j-contrib/neo4j-jdbc/releases/download/3.0.1-SNAPSHOT/neo4j-jdbc-driver-3.0.1-SNAPSHOT.jar

Can you please try it out and give us a feedback?

[2016-07-21 15:52] glaggia-larus commented on #65
This should be fixed for **BOLT module** with c7acc09

A new snapshot version jar is available.

Can you please try it out and give us a feedback?

[2016-07-21 17:11] inserpio commented on #68
This should be fixed for both BOLT and HTTP modules with 62fbaa1

A new snapshot version jar is available here: https://github.com/neo4j-contrib/neo4j-jdbc/releases/download/3.0.1-SNAPSHOT/neo4j-jdbc-driver-3.0.1-SNAPSHOT.jar

Can you please try it out and give us a feedback?

Thank you

[2016-07-21 18:05] jaxzin commented on #68
@inserpio Is there a Maven snapshot repo I can point to?

[2016-07-21 18:23] inserpio commented on #68
@jaxzin generically speaking yes (https://m2.neo4j.org/content/repositories/snapshots/) but we haven't published the 3.0.1 snapshot yet, sorry.

In the meantime, could you please download it (from the above link) and add it to your local maven repo via the classic:

[code]

[2016-07-21 18:29] inserpio commented on #68
In the meantime I've just created a small test class like this and it looks like this work fine:

[code]

BTW. How do you manage labels with Sql2o? I notice it understands `:Movie` as a parameter!?

[2016-07-21 21:00] jaxzin commented on #68
Thanks for the fast turnaround. I get further but it looks like we'll be playing whack-a-mole with the other unimplemented methods. Here's the latest:

[code]

As for your test, try calling this instead:

[code]

I didn't get so far to the labels yet. I wanted to see it blow up with the SQL query strings I'm passing to `con.createQuery(...)`.  My expection/hope was to override our DAO layer to use

[2016-07-21 21:04] jexp commented on #68
You could also put the statements in annotations.

The one by one is unfortunate but we rather wanted to fail than causing unexpected behavior.

The jdbc interfaces are quite wide ...

Von meinem iPhone gesendet

[2016-07-21 22:07] inserpio commented on #68
@jaxzin if you were able to provide us a complete use case we would be pleased to take care of it, so to avoid this stop & go approach.

I just updated the jar. Could you please retry with it: https://github.com/neo4j-contrib/neo4j-jdbc/releases/download/3.0.1-SNAPSHOT/neo4j-jdbc-driver-3.0.1-SNAPSHOT.jar

[2016-07-21 22:35] inserpio commented on #67
Hi @slavakx, we're working on the issue. Method `setFetchSize` is indeed not yet implemented and we need to decide how to implement it.

In the meantime Please pay attention to the `flatten` param: you should provide a value. That list was just meant to give an example of possible values. Please have a look at this: https://github.com/neo4j-contrib/neo4j-jdbc#flattening

Connection URL could be so

[2016-07-21 23:26] inserpio commented on #67
Hi @slavakx, could you please retry with this snapshot version? https://github.com/neo4j-contrib/neo4j-jdbc/releases/download/3.0.1-SNAPSHOT/neo4j-jdbc-driver-3.0.1-SNAPSHOT.jar

I just added a basic implementation for the missing method.

Let me know if it solves the issue.

[2016-07-21 23:40] inserpio commented on #65
We should make BaseDriver class protected

[2016-07-22 07:58] slavakx commented on #67
Hi @inserpio

The snapshot works fine!

Just out of curiosity - how was it working in the 3rd party tool like SQL Workbench/J with the unimplemented ResultSet ?

Best

[2016-07-22 08:09] inserpio commented on #67
Cool! I'm closing this issue then..

We currently haven't implemented the entire JDBC interface mainly for two reasons:
1. we rather wanted to fail than causing unexpected behaviour (cit. @jexp)
2. we favoured to go live with a minimal marketable set of features

Just as an example the `DatabaseMetadata` interface declares 176 methods and it sounded ways too long to fully implements it in the firs

[2016-07-22 08:10] #67 closed, assigned to inserpio

[2016-07-22 08:14] jasperdenkers commented on #65
@glaggia-larus I can confirm the 3.0.1-SNAPSHOT jar works for me. I've tested this with SBT by removing the dependency from `build.sbt` and adding the jar to the `/lib` directory.

@inserpio Sounds like a good idea. Initially I was confused because I used the `"org.neo4j" % "neo4j-jdbc" % "3.0"` dependency instead of `"org.neo4j" % "neo4j-jdbc-driver" % "3.0"`. In my config Intellij did autocomple

[2016-07-22 08:15] jasperdenkers commented on #64
Confirmed this resolved the issue for me, see https://github.com/neo4j-contrib/neo4j-jdbc/issues/65#issuecomment-234482085.

[2016-07-22 08:19] glaggia-larus commented on #64
Closed,

thank you for your help in report this issue, feel free to open other issues if needed.

Cheers

[2016-07-22 08:19] #64 closed, assigned to nobody

[2016-07-22 08:22] glaggia-larus opened #70 "Implementation of isValid(int timeout) method HTTP"
I leave this as note for developer,

method isValid() is implemented in BOLT and should be so in HTTP.

[2016-07-26 02:35] rubby33 commented on #65
I come across a similar problem too. The boltDriver can not be found. so i use

[code]

[2016-07-26 07:08] #70 closed, assigned to nobody

[2016-07-26 08:51] inserpio commented on #68
Hi @jaxzin, did you find time to check whether SQL2O is working with the last 3.0.1 snapshot? We'd like to close this issue and release the 3.0.1 version on the official repos. Thanks for your precious support!

[2016-07-26 09:01] inserpio commented on #65
Hi @rubby33, it shouldn't be necessary for you to register the driver. We detect the right driver instance (bolt or http) according to the connection url: i.e. `jdbc:neo4j:bolt://localhost` will return the bolt implementation, while `jdbc:neo4j:http://localhost` would return the http one.
The https://github.com/neo4j-contrib/neo4j-jdbc#minimum-viable-snippet should be enough.
Are you using the las

[2016-07-26 12:43] inserpio commented on #69
Asked for an opinion about this issue to the `java bolt driver` team...

[2016-07-26 14:36] inserpio commented on #69
Hi @rubby33, we got in touch with the `java driver` team to solve this your issue.
We'd need some more information from you: could you please have a look at [this discussion](https://github.com/neo4j/neo4j-java-driver/issues/205#issuecomment-235283393)?
Thanks for your support.
Lorenzo

[2016-07-27 01:02] jaxzin commented on #68
@inserpio sorry, it got a bit further but ran into an NPE when executing the Cypher query. I need to turn my attention to other things but this was a fun experiment.  I'll likely just change our Dao to use the neo4j apis directly instead of going through a SQL ORM.

[2016-07-27 02:48] rubby33 commented on #65
hi, i did not use the latest version. i use the version of 10. July.
For the stability of our
system，we have test the driver for a while before use it。
If the latest version have fixed the problem,  that's cool. thanks

2016-07-26 17:01 GMT+08:00 Lorenzo Speranzoni notifications@github.com:

[2016-07-27 19:34] inserpio commented on #68
Ok @jaxzin, thanks for your time and support.
As the JDBC part related to this issue (aka the setTransactionIsolation) is solved and covered by unit tests, I'm closing this issue.
Feel free to open new ones as soon as you'll have some time to spend on this driver and find something that doesn't work.

[2016-07-27 19:34] #68 closed, assigned to inserpio

[2016-07-28 00:59] tommystanton opened #72 "README: Correct artifact name is 'neo4j-jdbc-driver'"
In the README, the artifact of the dependency in the examples is `neo4j-jdbc`, but in order for those examples to compile, the artifact actually needs to be `neo4j-jdbc-driver`.

In my experience, if the artifact was simply `neo4j-jdbc`, I would eventually run into this sort of exception at run-time:

[code]

...and I believe that that is because a class named `Driver` is not found (a requirement

[2016-07-28 01:27] tommystanton opened #73 "Old versions of neo4j-jdbc removed from the Maven repository?"
Was just curious as to whether removal of old versions was intentional.

A [search on the Maven repository](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22neo4j-jdbc-driver%22) shows that only version `3.0` is available.

I assume that older versions were once available, given that other projects [1] [2] are pointing to version `2.x` of artifact `neo4j-jdbc-driver`.

[1] `luanne/flavorwockyGrap

[2016-07-28 01:36] tommystanton opened #74 "index.html: Example JDBC URLs"
On the [github.io-hosted site](http://neo4j-contrib.github.io/neo4j-jdbc/), I came across the examples at "Technical Reference" &rarr; "Usage Examples", which are:

[code]

I believe that the semi-colon in those examples should be replaced with a forward slash.

[2016-07-28 01:45] tommystanton opened #75 "README: Proposal for "Run query" of "Minimum viable snippet""
This snippet example shows use of the `user` and `password` query params (which are presently documented further in the README, after the snippet).  Also, it makes use of a `CALL` query that should work on any given Neo4j instance.

The snippet will print out something like:

[code]

---
### Minimum viable snippet

...
#### Run Query

[code]

[2016-07-28 07:55] fpavageau commented on #72
I started working on this a few hours before you opened the issue, as a matter of fact. I hope to open a pull request today.

[2016-07-28 08:05] fpavageau commented on #73
The legacy driver (now hosted under https://github.com/neo4j-contrib/neo4j-jdbc-2x) used "neo4j-jdbc" as the artifact name and was never published on Maven Central, only on the [Neo4j repository](https://m2.neo4j.org/content/repositories/releases/org/neo4j/neo4j-jdbc/).

I don't think anything was removed from Maven Central, this is not left-pad 😄 .

[2016-07-28 09:57] inserpio commented on #73
Just add the above mentioned Neo4j repository in your pom file if you need to use previous to 3.0 versions. Example here: http://dist.neo4j.org/settings.xml

[2016-07-28 09:57] #73 closed, assigned to nobody

[2016-07-28 10:43] inserpio commented on #75
Hi @tommystanton, we can add `user` and `password` params, but I'm keen not to use a stored procedure in the min snippet because the http module (and in future the in-memory and file ones) is meant to work also with previous to 3.0 neo4j versions. Store procedure are available from 3.0, and I don't want users to think that this driver is only for neo4j 3.X: I personally prefer to leave a cypher qu

[2016-07-28 10:45] #72 closed, assigned to nobody

[2016-07-28 10:45] #74 closed, assigned to nobody

[2016-07-28 13:01] inserpio commented on #12
Adding picture to be referenced in the "Neo4j JDBC Driver Documentation"

![qlik config](https://cloud.githubusercontent.com/assets/6613815/17213244/d04d482a-54d3-11e6-8813-29d3d701ea2b.png)
![qlik results](https://cloud.githubusercontent.com/assets/6613815/17213245/d04dbd14-54d3-11e6-914e-0729e02e61e9.png)
![qlik settings](https://cloud.githubusercontent.com/assets/6613815/17213246/d04dfe14-54d3-

[2016-07-28 17:59] tommystanton commented on #65
The initial cause of this issue (wrong artifact specified, as also incorrect in the README) is related to issue #72 (which has been resolved: README was updated).

[2016-08-01 16:40] maxdemarzi opened #77 "How can we import data in chunks using transactions?"
Currently taking about 10 minutes to import 7000 records via Pentaho following the example since it's writing one record at a time. Is there a way to bunch up the writes in chunks of 100/1000/etc per transaction?

[2016-08-01 23:13] inserpio commented on #77
`Execute row sql script` allows to specify commit interval. Here's the documentation: http://wiki.pentaho.com/display/EAI/Execute+row+SQL+script
I'll test it and give you a feedback soon.
Also `Notes` in `Execute sql script` (http://wiki.pentaho.com/display/EAI/Execute+SQL+script) clearly states that this option is not performant at all.
I'll also review the documentation.

[2016-08-09 11:34] sim51 commented on #69
Hi @rubby33

Have you take a look at the discussion ?

Can you tell us if you have received some exceptions before you hits this `connection already closed` error?

Thanks by advance.

[2016-08-09 13:27] sim51 commented on #57
Result is here https://github.com/neo4j-contrib/neo4j-jdbc/blob/master/docs/solr.adoc

[2016-08-09 13:27] #57 closed, assigned to nobody

[2016-08-09 13:31] sim51 commented on #75
Like @inserpio, I'm ok for adding`user` & `password` into the snippet, and to keep the cypher query.

[2016-08-09 17:20] tommystanton commented on #75
I'm not married to the example I proposed; I think I was having trouble getting the present example in the README to compile (it was the first time I saw use of the try-with-resources syntax).

[2016-08-09 20:36] jexp commented on #75
Yes, no need to introduce procedure call syntax.
We can add it in the docs to demonstrate how to use it with params.

But I'm for adding username + password. But via DriverManager.getConnection(url, username, password)

[2016-08-16 12:02] hasithadkr7 opened #79 "java.lang.ClassNotFoundException: org.neo4j.jdbc.Driver"
I'm using neo4j-community-2.3.0-M02 and my neo4j jdbc driver 3.0, when I'm creating db connection I got exception java.lang.ClassNotFoundException: org.neo4j.jdbc.Driver. Then I added neo4j-java-driver dependency also to the pom.xml file but result is same. Is the above version are incompatible with each other? when I use neo4j-jdbc 2.3.2 this exception not occured.

[2016-08-16 17:39] mvitz commented on #79
I would not suggest using the 3.x driver with neo4j 2.x.

Nevertheless could you provide some more information how you retrieve a connection in your code? The `ClassNotFoundException` should not be thrown by using `org.neo4j.jdbc.Driver` when `org.neo4j:neo4j-jdbc-driver`-JAR is included in your application.

[2016-08-16 22:07] hasithadkr7 commented on #79
Here is the class that I try to create db connection,

`public class Neo4jUtil {
    private Connection connection = null;
    private String restUrl = null;
    private String driver = null;
    private String userName = null;
    private String passWord = null;
    private static PropertiesUtility propertiesUtility = null;

[code]

}`

[2016-08-16 23:48] jexp commented on #79
So you added this dependency?

[code]

can you show the output of mvn dependency:tree ?

[2016-08-16 23:53] hasithadkr7 commented on #79
Here are the dependencies in pom.xml
`    <dependencies>
        <dependency>
            <groupId>org.springframework</groupId>
            <artifactId>spring-core</artifactId>
            <version>${spring.version}</version>
        </dependency>

[code]

[2016-08-17 05:58] jexp commented on #79
What is the effective dependency with `mvn dependency:tree` ?

[2016-08-17 08:54] hasithadkr7 commented on #79
what do mean by  effective dependency with mvn dependency:tree ? how can I get it, I'm using IntelliJ idea.

[2016-08-17 09:09] neo4j-oss-build commented on #79
There is an "execute maven goal" icon in the maven sidebar.

On Wed, Aug 17, 2016 at 10:54 AM, hasithadkr7 notifications@github.com
wrote:

[2016-08-18 07:24] glaggia-larus commented on #79
Or simply open the Terminal Window inside IntelliJ Idea (alt + F12) and type `mvn dependency:tree`.
After you press enter you will see something like:

[code]

[2016-08-18 09:52] hasithadkr7 commented on #79
thank u @glaggia-larus,

[INFO] com.springapp:Adaptor:war:1.0-SNAPSHOT
[INFO] +- org.springframework:spring-core:jar:4.1.1.RELEASE:compile
[INFO] |  - commons-logging:commons-logging:jar:1.1.3:compile
[INFO] +- org.springframework:spring-web:jar:4.1.1.RELEASE:compile
[INFO] |  +- org.springframework:spring-aop:jar:4.1.1.RELEASE:compile
[INFO] |  |  - aopalliance:aopalliance:jar:1.0:compile
[INFO]

[2016-08-18 10:38] mvitz commented on #79
As you can see there is no mention of `org.neo4j:neo4j-jdbc-driver` just `org.neo4j:neo4j-jdbc:jar:2.3.2:compile` therefore the class obviously can not be found.

[2016-08-18 10:44] hasithadkr7 commented on #79
@mvitz, very sorry I missed , the above dependency tree is not the original one which gives me the exception, it is as follows,
[INFO] com.springapp:Adaptor:war:1.0-SNAPSHOT
[INFO] +- org.springframework:spring-core:jar:4.1.1.RELEASE:compile
[INFO] |  - commons-logging:commons-logging:jar:1.1.3:compile
[INFO] +- org.springframework:spring-web:jar:4.1.1.RELEASE:compile
[INFO] |  +- org.springframew

[2016-08-18 10:49] mvitz commented on #79
Even this only contains `org.neo4j:neo4j-jdbc:jar:3.0:compile` and no `org.neo4j:neo4j-jdbc-driver:jar:3.0:compile`. Notice the _-driver_

[2016-08-18 10:57] hasithadkr7 commented on #79
@mvitz, I have a problem here, though the first dependency tree not included org.neo4j:neo4j-jdbc-driver it works fine, it doesn't show any error or exception and works as expected.( when I used neo4j-jdbc:jar:2.3.2) .
Problem arose when I replace that library with new version (neo4j-jdbc:jar:3.0). Through stackoverflow suggestions I added neo4j-java-driver:jar:1.1.0-M01 also to my dependencies bu

[2016-08-18 10:59] hasithadkr7 commented on #79
But it included neo4j-java-driver:jar:1.1.0-M01.

[2016-08-18 11:00] mvitz commented on #79
Did you try to replace `neo4j-jdbc:jar:2.3.2` with
`neo4j-jdbc-driver:jar:3.0`?

On Thursday, 18 August 2016, hasithadkr7 notifications@github.com wrote:

[2016-08-18 11:35] hasithadkr7 commented on #79
I have two cases,
case1: neo4j-jdbc:jar:2.3.2
      no exception no error, working fine.
case 2: neo4j-java-driver:jar:1.1.0-M01 and neo4j-jdbc-driver:jar:3.0
      java.lang.ClassNotFoundException: org.neo4j.jdbc.Driver

[2016-08-20 07:59] rubby33 commented on #69
hi，@sim51 sorry for  this later reply.
 I have seen the discussion, zhenlineo has shown how to Kill queries after timeout.  Our system has adopted this approach. It is very useful.

I believe we do not received some exceptions before the "connection already closed error".

Thanks!

[2016-08-23 09:10] hasithadkr7 commented on #79
@mvitz  & @jexp , any updates regarding this issue..

[2016-08-23 16:10] sim51 commented on #79
Hi,

In your pom.xml, I see a lot of Neo4j dependencies :

[code]

So you mix some jar from Neo4 2.3 & 3.0.
Can you replace all this section by just only this snippet :

[code]

And after can you try this mvn command : `mvn clean compile -U`

Cheers.

[2016-08-23 16:31] sim51 commented on #69
Good news !

So I close this issue. Feel free to re-open it if you received again this exception.

Cheers.

[2016-08-23 16:31] #69 closed, assigned to nobody

[2016-08-23 16:38] sim51 commented on #65
Hi @rubby33

So have you be able to test your code with the lastest build ?
Does it resolve your problem ?

Cheers.

[2016-08-24 07:47] hasithadkr7 commented on #79
@sim51, issue still there though remove those libraries, here is my dependency tree now.
`
[INFO] ------------------------------------------------------------------------
[INFO] Building Adaptor 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[WARNING] The artifact org.apache.commons:commons-io:jar:1.3.2 has been relocated to commons-io:commons-io:jar:1

[2016-08-24 07:49] mvitz commented on #79
`<artifactId>neo4j-jdbc</artifactId>` is wrong, it should be `<artifactId>neo4j-jdbc-driver</artifactId>`

[2016-08-24 08:21] hasithadkr7 commented on #79
@mvitz , still not I don't know what to do,
here is dependency tree now,
[INFO] com.springapp:Adaptor:war:1.0-SNAPSHOT
[INFO] +- org.springframework:spring-core:jar:4.1.1.RELEASE:compile
[INFO] |  - commons-logging:commons-logging:jar:1.1.3:compile
[INFO] +- org.springframework:spring-web:jar:4.1.1.RELEASE:compile
[INFO] |  +- org.springframework:spring-aop:jar:4.1.1.RELEASE:compile
[INFO] |  |  -

[2016-08-24 08:24] mvitz commented on #79
Do you build a FAT JAR? If so can you unzip it and look if `org.neo4j.jdbc.Driver` is present?

[2016-08-24 08:28] hasithadkr7 commented on #79
I build war file which I can deploy on tomcat. Inside \WEB-INF\lib of the deployed war file I can see neo4j-jdbc-driver-3.0 jar

[2016-08-24 08:40] mvitz commented on #79
Can you post the content of the WAR file?

[2016-08-24 08:44] hasithadkr7 commented on #79
here is the list of all the jar files which contains in war file.
![jarfiles](https://cloud.githubusercontent.com/assets/1329982/17924165/1da32f7c-6a05-11e6-8081-aa4ba191b500.JPG)

[2016-08-24 08:49] mvitz commented on #79
Hm. Maybe it has to do with class loading in tomcat. If I have some spare time this week I will try something out myself.

[2016-08-24 08:51] hasithadkr7 commented on #79
@mvitz, thank u very much for your support.

[2016-08-24 23:41] hasithadkr7 commented on #79
Finally I have found solution for that I have changed `createDbConnection`method as follows,

[code]

After referring [this](http://www.tutorialspoint.com/jdbc/jdbc-db-connections.htm) tutorial. It says following,

Though this solved my issue, it isn't clear to me why that happened. Could any please explain this to me...

[2016-08-25 00:26] alcarwk commented on #69
Hi @sim51, sorry about this but I think I might need this issue reopened.

We have a COTS  product that is using this driver and are having problems similar to those discussed here. Our setup is the standard releases of Neo4j DB 3.0.3  and Neo4j JDBC 3.0. The COTS application is hosted on Linux Tomcat server. We're using BOLT with no TLS security.

The problem we're getting is that connection are

[2016-08-25 06:13] mvitz commented on #79
Very interesting. If you create a driver by yourself you could use the driver directly. No need to take the indirection over the DriverManager. My best guess till now is that this has to do with ClassLoaders in tomcat. Will try to reproduce this on the weekend.

[2016-08-26 09:50] inserpio commented on #75
username + password added as suggested by @jexp.

[2016-08-26 09:50] #75 closed, assigned to nobody

[2016-08-26 10:26] #65 closed, assigned to nobody

[2016-08-29 19:36] ikus060 opened #80 "Document how to mock a neo4j database for neo4j-jdbc"
Would be nice to properly describe how to mock a neo4j database to make it work with neo4j-jdbc. I'm struggling to make this work. There are too much information about how to do it for neo4j v2.

In other word, may you describe how to properly create a neo4j database usable in application testcases and make use of it using ne4j-jdbc ?

Thanks

[2016-08-30 06:52] inserpio commented on #80
You could refer to unit tests like one [BoltConnectionTest](https://github.com/neo4j-contrib/neo4j-jdbc/blob/master/neo4j-jdbc-bolt/src/test/java/org/neo4j/jdbc/bolt/BoltConnectionTest.java).

[2016-08-30 06:59] mvitz commented on #80
I started an embedded driver for 3.x a while ago and just pushed it to https://github.com/mvitz/neo4j-jdbc/tree/embedded-mode
Maybe this helps someone who has more time.

[2016-08-30 07:11] inserpio commented on #80
@mvitz  Hi Michael, thanks fof that. Now that 3.0.1 is out, we're planning for a 3.1 eventually introducing embedded and/or file mode. In case we decide to go with this we'll surely take advantage of this your contrib. Thanks again.

[2016-09-02 06:08] rubby33 commented on #65
@sim51  yes，the lastest build works well. Thanks.

[2016-09-13 16:33] whitfa99 opened #81 "Testing in Rapidminer"
Using jdbc Release 3.0.1 on Neo4j 3.0.5, using the (GUI) Read Database operator within Rapidminer.
Connection string is
jdbc:neo4j:bolt://localhost:7687/?debug=false,noSsl,flatten=1000

The resultset for this simple cypher statement looks promising:

Match (n:mynode)
WHERE NOT n.aninteger is NULL
RETURN n.aninteger

..however it fails when I comment out the second line:

org.neo4j.driver.v1.except

[2016-09-13 19:02] inserpio commented on #81
Hi @whitfa99, I'll investigate and ping you back soon. It'd greatly simplify our work if you could create a test graph that certifies the problem.

[2016-09-13 19:04] inserpio commented on #81
Also could you please send us the Java code so that we can see the way you're using the driver?

[2016-09-13 20:14] whitfa99 commented on #81
I can reproduce the first error using the domain created by this:

UNWIND [{name:'A', aninteger:1}, {name:'B',aninteger:2}, {name:'C',aninteger:null}, {name:'D',aninteger:4}] AS properties CREATE (n:mynode) SET n = properties
RETURN n

Interestingly, while reproducing this for you I first only created the 'aninteger' property, which produces the expected result when using:

Match (n:mynode)
WHERE

[2016-09-13 22:14] inserpio commented on #81
Thanks for the additional info @whitfa99.

`com.fasterxml.*` is used for the `HTTP` protocol. If you just need to use the `BOLT` one (which is faster) then you could bring the protocol-specific jar (please have a look at the documentation [here](http://neo4j-contrib.github.io/neo4j-jdbc/#_maven_dependency)). The jar is downloadable [here](https://mvnrepository.com/artifact/org.neo4j/neo4j-jdbc-bol

[2016-09-13 22:46] whitfa99 commented on #81
Thanks for the tip Lorenzo.  The domain I'm using in this thread is just for reproducing the error.  I can't do without those nulls :)  Perhaps if it's feasible, I'll hold out for a fix, assuming it's also something that affects other people.  I can see that Knime is also mentioned elsewhere here and Rapidminer is in the same space.

I'm looking to replace my existing neo4j>rapidminer method, whic

[2016-09-14 08:21] jexp commented on #81
I think the problem is that the "int" type is primitive and doesn't allow for nulls at all.

We would have to coerce it to 0 then instead of null, but not sure how common that case is.
Not sure what rapidminer uses internally to access the fields.

perhaps if you can get any access to stack traces / logs of rapidminer that would be helpful.

Not sure how that's solved in SQL.

Did you try return `

[2016-09-14 21:20] inserpio commented on #81
I configured (for the very first time Rapidminer) like that:

1) Defined neo4j driver params + uploaded the jar file:

<img width="1440" alt="manage database drivers" src="https://cloud.githubusercontent.com/assets/6613815/18530022/d4536fc2-7acf-11e6-9a19-ed2e9fd0655c.png">

2) Defined a connection to a specific instance of neo4j (localhost):

<img width="1440" alt="manage database connection" src

[2016-09-15 08:50] whitfa99 commented on #81
That would be fantastic Lorenzo.  Thanks for your suggestions guys.

[2016-09-15 10:07] inserpio commented on #81
Hey @whitfa99,

can you try to replace the 3.0.1 driver jar with this 3.1-SNAPSHOT version and see if it sounds good for you? https://github.com/neo4j-contrib/neo4j-jdbc/releases/download/3.1-SNAPSHOT/neo4j-jdbc-bolt-3.1.0-SNAPSHOT.jar

Let me know!
Thanks,
Lorenzo

[2016-09-15 14:05] whitfa99 commented on #81
Thank you - this looks promising! I no longer get the Cannot coerce NULL to Java double error.  The fields/attributes/columns are being typed/cast correctly as far as I can see, with the exception of any column which has all null values for the returned rows, whereas in my version of Rapidminer at least, it then defaults(?) to nominal (string).

I am however getting a NPE when the recordset should

[2016-09-15 18:14] inserpio commented on #81
@whitfa99 if you could share a minimal dataset to work on together then it'd be great.

[2016-09-15 19:15] whitfa99 commented on #81
This dataset also works:

WITH REDUCE (Build=[], n in range(1,500)|Build+{NodeNo:n,adouble:CASE WHEN n>200 THEN n*0.01 END}) as mapcollection
UNWIND mapcollection AS map CREATE (n:mynode) SET n = map
RETURN n

If you then run this in Rapidminer:

Match (n:mynode)
RETURN n.NodeNo,n.adouble
ORDER BY n.NodeNo **DESC**

Then you get what you expect, however if you run this:

Match (n:mynode)
RETURN n.

[2016-09-15 19:20] inserpio commented on #81
Great, thank you. Let me try.

[2016-09-19 18:28] anuragsrivastava06 opened #82 "Update POM with the latest dependencies"

[2016-09-19 18:29] inserpio commented on #82
Which ones are you referring to in particular @anuragknoldus? Should be coherent with our current  tests and plans

[2016-09-19 18:36] anuragsrivastava06 commented on #82
I have updated dependency version for powermock, junit, org.openjdk.jmh, neo4j-kernel, neo4j-harness and jackson.

I have sent PR also. You can refer that.

[2016-09-19 18:39] inserpio commented on #82
Just seen it. I'll have a look at it.
In the meantime could you please share with us your particular use case (if any).
We'd like to know how people are using the driver in order to better support you.

[2016-09-19 18:54] anuragsrivastava06 commented on #82
I am exploring Neo4j with Scala and in this process I started using Neo4j-jdbc and found Bolt and it looks so cool. I am just exploring it.

[2016-10-18 10:07] fhureau opened #84 "java.lang.UnsupportedOperationException: Method supportsCatalogsInIndexDefinitions in class org.neo4j.jdbc.DatabaseMetaData is not yet implemented."
I am trying to connect to a Neo4j 3.0.4 Community standalone server from a project in Talend Open Studio using Talend Framework via the 3.0.1 jdbc driver, but when I want to finish configuring the connection I get the following error message:

Failed to access data {0} java.lang.UnsupportedOperationException: Method supportsCatalogsInIndexDefinitions in class org.neo4j.jdbc.DatabaseMetaData is not

[2016-10-18 10:12] inserpio commented on #84
Yes, we know that. It's a matter of unimplemented methods. Not all DatabaseMetaData and ResultSetMetaData methods are implemented as they're plenty and we really don't know which are effectively used by tools.
We can add it to the outcoming 3.0.2.

[2016-10-18 10:15] inserpio commented on #84
The implementation is just a simple `return false`  as there's no `catalog` in neo4j.
Other methods may be required as soon as we add it...
We don't know which ones are called by Talend: lust let us to set up a test env to simulate the problem.

[2016-10-18 10:22] fhureau commented on #84
Ok thanks!

[2016-10-26 12:43] jexp opened #85 "spring-jdbc-boot-movies sample app fails with 3.0.1"
It seems that an PST.executeQuery() -> RS

does internally run an execute (why?) and tries to compute update results which fails in a read-only case:

[code]

[code]

[2016-11-22 11:55] justinwyer commented on #53
Any movement on this, it's a huge missing feature.

[2016-11-22 12:42] mvitz commented on #53
Sorry, currently my time is very limited. The last version can be seen at https://github.com/mvitz/neo4j-jdbc/tree/embedded-mode

[2017-01-03 09:30] chillinger opened #87 "SQLException thrown on invalid jdbc URL"
If multiple JDBC Drivers are loaded and a call to `java.sql.DriverManager` is made with a non-neo4j URL, the connect method throws an `java.sql.SQLException` regarding the incorrect URL.
It actually should only return `null`, the `DriverManager` then tries the next available JDBC driver or throws an Exception if no connection was established.

How to reproduce:

load the neo4j JDBC driver and MySQ

[2017-01-03 13:49] fbiville opened #88 "Allow TrustStrategy to be configured through JDBC driver"
I was trying to use the Bolt JDBC driver the other day in unit tests, but it failed because of the default trust strategy:

[code]

It seems this can be configured with the Java Bolt driver, as follows:

In my opinion, it would be nice to allow this strategy to be configured through the JDBC driver. It's true, though, that simply upgrading to 1.1.0 would do the trick in my case.

[2017-01-03 21:25] fbiville opened #89 "Neo4j 2.x support"
JDBC has been the way to go for libraries that need to support Neo4j various connectivity modes.
Currently, for https://github.com/fbiville/liquigraph/, we have to maintain two distinct branches of development:

- one for Neo4j 2.x with a fork of the legacy JDBC driver
- one for Neo4j 3.x with the new driver

I believe this makes maintainer's life difficult and it may slow down the JDBC driver ado

[2017-01-04 12:18] glaggia-larus commented on #87
Hello, thank you for reporting this to us.

I was checking in the documentation why we decided to throw an exception in first place. We considered what **for us** is a 'bad' URL as an error, of course we did not take in account the simultaneous use of our driver with another one.

I think we will be able to check on this as soon as possible. Let us discuss this issue with the team to decide how to

[2017-01-17 10:38] fbiville opened #90 "Implement DataSource"
Hi,

On Liquigraph side, we just introduced a new Spring Boot starter module.
Users have to pull an extra dependency (so far, we've used `HikariCP` in our examples) or come with their own datasource implementation for the starter to work, which is a pity.

Given all the other JDBC APIs are implemented, could it be possible to implement `DataSource` as well?
That way, just depending on `liquigraph-

[2017-01-17 13:24] mvitz opened #91 "Problems because of shaded artefacts"
During working on an example app to show how to connect Liquigraph and Spring Boot I found https://github.com/fbiville/liquigraph-spring-boot-example/issues/4

It seems that some component in this application is not able to work with `jackson:2.7.0` which the shaded `neo4j-jdbc-http`-Driver includes. (btw. Spring-Boot uses `2.8.5` as default Jackson version).

I understand that the `neo4j-jdbc-dri

[2017-01-20 10:43] sim51 commented on #91
Hi @mvitz

A good compromise could be to only shade the `neo4j-jdbc-driver` and not the others.
So later, your project should works if you make a dep to a specific driver (like `neo4j-jdbc-http` or `neo4j-jdbc-bolt`), and we also keep the easy of use for tools.

What do you think ?

Cheers

[2017-01-20 10:51] mvitz commented on #91
This compromise would be suitable for me and seems to be the best solution for the time being without affecting to much users.

[2017-01-20 14:23] jexp commented on #91
I think it's a different use-case
1. using jdbc with a tool (which often only allows for a single jar) -> shadow at least http and bolt
2. using jdbc in a program -> it should probably not shadow or shadow bolt by default for easier setup

so perhpas we can create different artifacts
1. a full shadow for bolt + http for use in a tool
2. non-shadowed versions where you would explicitely put in http

[2017-01-20 14:27] mvitz commented on #91
d188b9a4a419c36345cd33cc6973c59a31f90cb7 fulfills 1. and 2. of your list.

[2017-01-20 19:28] geld0r opened #92 "org.neo4j.driver.v1.Driver: Version conflict between neo4j-jdbc-driver and neo4j-java-driver"
In my project I have the following libraries on the classpath due to usage of Neo4j-Ogm and Liquigraph:

[code]
The project is built with gradle. Upon starting I receive:
[code]

It looks like `org.neo4j.driver.v1.Driver` from neo4j-java-driver contains `Session session(AccessMode var1);` while the version from `neo4j-jdbc-driver` / `neo4j-jdbc-bolt` does not.
Do those interfaces differ on purpose

[2017-01-21 10:48] fbiville commented on #92
Hi, can you print your dependency tree?

[2017-01-21 10:58] geld0r commented on #92
Sure:
[code]

[2017-01-21 13:39] sim51 commented on #92
The jdbc-driver is based on the 1.0.X java driver, not the 1.1.x ...and there is some breaks due to the bolt+routing functionality for core-edge cluster.

I have started to work on it yesterday, but it's just a start.

[2017-01-21 14:32] geld0r commented on #92
Ok. Let me know if you have a version that I can test.

[2017-01-31 08:39] sim51 commented on #92
I have just pushed a branch '3.1' with the upgrade of the java driver (1.1.0) that should correct your problem.

[2017-02-09 17:50] geld0r commented on #92
Thank you. Is this part of some Snapshot-Build that I can use for testing?

[2017-02-22 18:15] spiewok opened #93 "neo4j, Wildfly, Transactions"
Hi,
I have a hard time to get neo4j working with transactions. I use BMT together with wildfly (also tried CMT). I call the business method in a stateless bean and have a DB facade injected via CDI. So the business method actually calls two save-methods in the facade. The code is as follows:

@StatelessBean

try {

                tx.begin();

                //saveSomething using pure JDBC

[2017-02-22 23:18] inserpio commented on #93
Hi @spiewok, which protocol are you using? HTTP? BOLT? Or have you tried with both?
And is AutoCommit On or Off?

[2017-02-23 08:33] spiewok commented on #93
Hi @inserpio,
I'm using BOLT. The datasource is declared in the Wildfly config. I didn't try HTTP. AutoCommit is Off (my understanding is, that the container is doing this automatically as I use BMT). It is really strange. And it's just in case an error happens. So the sequence is:
1. Trigger the method. Another exception is raised, the transaction is rolled back correctly.
2. Trigger the method a

[2017-02-23 19:23] spiewok commented on #93
Oh and I just tried (again) CMT. Same effect. If an transaction is set to rollback, the next call to the DB fails with the same exception.

So my solution for the moment is: no rollback.... :-(

[2017-02-23 19:28] inserpio commented on #93
The transaction is (correctly) marked as rollback, but it looks like a new one is not created from the second call and so on... How do you get the `tx` reference? Can you post the complete code fragment? Let me investigate a bit the code and yes it could be a bug...

[2017-02-23 19:38] inserpio commented on #93
[code]
We don't renew the transaction in the `rollback` method as we do for `commit`.
I wanna try to see if this could the cause.

[2017-02-23 19:40] spiewok commented on #93
Yes, that was my impression too. Did just change everything back to CMT and I have the same behaviour.

First the code for CMT:

@Stateless
public class SignUpPersistorBean {
    private static final Logger LOGGER = LoggerFactory.getLogger(SignUpPersistorBean.class);

    @Inject
    PasswordProvider passProvider;

    @EJB
    PracticeBeanLocal practiceBeanLocal;

    @Resource
    private EJBCon

[2017-02-23 20:27] inserpio commented on #93
@spiewok could you try with this jar?
[neo4j-jdbc-bolt-3.0.2.jar.zip](https://github.com/neo4j-contrib/neo4j-jdbc/files/797650/neo4j-jdbc-bolt-3.0.2.jar.zip)

[2017-02-24 10:10] spiewok commented on #93
Hi @inserpio,
thank you very, very much for answering so fast!

I did actually download the sources yesterday already and did make the proposed changes by myself and testet it and so far I tested everything and it's working. It was indeed missing the creation of the new transaction. So everything is working perfectly now! (I didn't try the jar you sent me, since everything is working as excepted n

[2017-02-24 10:14] inserpio commented on #93
Yeeeee!

I'll run some more tests before committing it, creating a new release of the driver and closing this issue...
Thanks for using our driver and for the contribute.

Lorenzo

[2017-02-24 10:28] spiewok commented on #93
Great! Thank you once again!
And thanks for developing this driver! It's great to have it!

Christian

[2017-03-03 06:03] AbhayParab opened #94 "Bolt JDBC driver gives error as "Failed to establish connection with server. Make sure that you have a server with bolt enabled on localhost:7687""
Hi

I have written following code similar to one mentioned as below:

        try (Connection connection = neoConnection()) {
            try (Statement statement = connection.createStatement();
                 ResultSet resultSet = statement.executeQuery("match (n) return count(n) as countOfNodes")) {
                if(resultSet.next()) {
                    return resultSet.getObject("countOfN

[2017-03-05 21:42] inserpio commented on #94
Hi @AbhayParab, I just implemented the following test:

[code]

But this didn't help me to replicate the problem and understand the cause.
I'll keep investigating but it looks like something is exhausting some resource.
Could you please send me the complete code or at least give me some more context?

Thank you very much,
Lorenzo

[2017-03-05 23:33] inserpio commented on #94
@AbhayParab which neo4j version are you using?

[2017-03-07 06:23] AbhayParab commented on #94
@inserpio I am using neo4j 3.1.1

Also I have reproduced the issue. When i loop for 1000, test code that you had shared works as expected. However if i increase loop to 10000, it started giving me same error that i was receiving earlier.

Hence for finding out the fail-over point, i have started reducing number of executions. Listed below is synopsis my test

1. 1000 -> Success
2. 10000 -> Faillur

[2017-03-07 18:15] inserpio commented on #94
Hi @AbhayParab, many thanks for this addition information. They are for sure very useful in order to better identify the root cause for this issue.
I really looks like a resource leak, i.e. too many sockets.
If you try to save the opened connection in a variable instead of asking for a new one every iteration (calling `DriverManager.getConnection`) everything start working again.
Let me check wher

[2017-03-08 09:16] AbhayParab commented on #94
@inserpio Thanks for confirmation.

Regarding opening connection once and using it across, i do agree that it does work (verified the same as well). However that goes against the typical JDBC usage perspective (since such usage would cause memory leaks and invalid exception handling). Hence i am not much inclined for going by that way. Hence as short term measure, i am using HTTP JDBC driver.

Tha

[2017-03-20 16:35] inserpio opened #95 "Upgrade java-bolt-driver to 1.2.0 for 3.1 causal cluster"

[2017-03-23 14:52] jexp commented on #88
I think this should happen through properties,
if you have time, could you send a PR for this?

[2017-03-23 15:02] #9 closed, assigned to nobody

[2017-03-23 15:02] #13 closed, assigned to nobody

[2017-03-23 15:02] #14 closed, assigned to nobody

[2017-03-23 15:02] #15 closed, assigned to nobody

[2017-03-23 15:02] #29 closed, assigned to albertodeste

[2017-03-23 15:02] #33 closed, assigned to nobody

[2017-03-23 15:34] jexp commented on #85
Works with 3.0.2

[2017-03-23 15:34] #85 closed, assigned to nobody

[2017-03-23 15:38] jexp commented on #89
@fbiville http should work out of the box, or?

embedded is more tricky, we could try two things 1. if the 3.x code still compiles on 2.x then just release it also build for 2.x
if it doesn't work we'd have to copy the code or extract a common parent module that keeps the "common" code across the versions. That's def. more effort.

[2017-03-23 16:44] fbiville commented on #89
@jexp I started the latter approach a while ago (for both embedded and http, maybe not needed as HTTP as you suggest, need to test this), it's definitely feasible.

I'd like to make some time to work on this as that would greatly simplify Liquigraph development. If someone from the team is available to hold (possibly remote) pair-programming sessions, that'd be great!

[2017-03-23 16:45] fbiville commented on #88
I cannot promise any ETA but I can try to work on this.

[2017-04-18 10:15] wangjunting commented on #52
glaggia-larus，Do you resolve this problem yet?

[2017-04-18 12:11] glaggia-larus commented on #52
The issue was closed and the the exception now returns an example, as asked.

[2017-05-13 23:18] #93 closed, assigned to nobody

[2017-05-14 08:04] #95 closed, assigned to nobody

[2017-05-14 08:14] inserpio commented on #92
Branches 3.0 and 3.1 now work with the latest bolt driver 1.3.
Would close as soon as we release.

[2017-05-14 08:22] inserpio commented on #91
@jexp we currently have both `neo4j-jdbc-bolt-3.x.x.jar` and `neo4j-jdbc-http-3.2.0.jar` not shaded and `neo4j-jdbc-driver-3.x.x.jar` shaded. Should we close this?

[2017-05-14 08:33] #84 closed, assigned to nobody

[2017-05-14 08:38] #79 closed, assigned to nobody

[2017-05-14 08:49] inserpio commented on #82
3.0 and 3.1 branches now have the latest ones.

[2017-05-14 08:49] #82 closed, assigned to nobody

[2017-05-15 08:28] naniya opened #101 "when I use DBCP and neo4j-jdbc to connect Neo4j database,I got a problem"
[code]

when this code run in java project,there is no problem,but when I use this code run in javaweb project on tomcat,it tell me no suitable driver.

when I compare the code of neo4j and mysql,I find some differences:

org.neo4j.jdbc.BaseDriver.java:
[code]

com.mysql.jdbc.Driver.java:
[code]

I don't known if this difference made the problem,or some other reasons.How can I solve the problem?

[2017-05-15 14:56] sx5640 opened #102 "Threading with neo4j-jdbc driver on Google Dataflow"
I'm running setup where I'm hosting a Neo4j database on a Google Compute Engine, and writing to the database using Google Dataflow, through jdbcIO API with Neo4j-jdbc driver. With Dataflow doing threading automatically, I'm running in to a deadlock issue when multiple threads try to hit the same node around the same time.

I'm trying to debug this issue, and my question is: is neo4j-jdbc driver th

[2017-05-15 15:22] jexp commented on #101
Which driver jar did you configure ? The 3.4MB large one from the GH release / maven?

[2017-05-15 15:49] inserpio commented on #101
Hi @naniya, we already solved this problem, but forgot to document (sorry).

When running in tomcat you have to:

1) Add the driver `neo4j-jdbc-bolt-3.0.3.jar` into the `lib` folder
2) Create a `setenv.sh` file with `CLASSPATH=$CATALINA_BASE/lib/neo4j-jdbc-bolt-3.0.3.jar` inside

and restart tomcat. `ClassLoader` will finally take care about the driver.

[2017-05-17 09:38] naniya commented on #101
@jexp I used neo4j-jdbc-driver-3.0.jar in my project.I have found one way to solve this problem:changed the code 'Class.forName("org.neo4j.jdbc.Driver");'  to "Class.forName("org.neo4j.jdbc.Driver").newInstance()".But this just worked in the project without DBCP,when I used DBCP ,the code 'Class.forName("org.neo4j.jdbc.Driver");' is wrote in DBCP's code,so I coundn't change it.This problem will ap

[2017-05-22 20:06] luto65 opened #103 "Test with Knime"
Knime.org is a well known platform that facilitate ETL processes through UI.
Using JDBC drivers version 2.3.2 has been reported as viable approach for "select" statements.
However no example has been provided on "inserts" and "bulk inserts" from KNIME.

[2017-05-22 21:26] jexp commented on #103
@luto65 would you be able to help us with the testing? Not sure if Knime has free trial instances and we might have have no experience with it.

[2017-06-07 14:37] mayyamus opened #104 "not registerDriver when class.forName()"
Doc of JDBC: When a Driver class is loaded,it should create an instance of itself and register it with the DriverManager.
I think should put register code in static code block like other database jdbc driver,for example:
[code]
![jdbc](https://user-images.githubusercontent.com/24735504/26885122-47292af2-4bd4-11e7-97e0-fbe27b31c8fd.png)

[code]
in the JEE Container,will thow No suitable driver foun

[2017-06-07 15:09] inserpio commented on #104
Good point @mayyamus, thanks.
We need to think a bit about what's eventually wrong with the current implementation, as you aren't the first person opening an issue regarding the JEE container.
We currently suggest to solve the problem as in this comment: https://github.com/neo4j-contrib/neo4j-jdbc/issues/101#issuecomment-301517103.
But your suggestion looks to be very interesting and correct.

[2017-06-30 14:43] zoetsekas opened #105 "NPE BoltResultSetMetaData getColumnTypeName"
If the ResultSet contains nodes with a variable number of properties then a NPE is thrown
on `return type.name();` type is null

BoltResultSetMetaData.getColumnTypeName

[code]

[2017-07-07 13:18] b3no3 opened #106 "Eclipse BIRT tools: use parameters in query"
I created a data set with a parameter called "par_id" (Integer, default value: 1) and the following query:

MATCH (a:A) WHERE a.id = ?
RETURN a.type

As soon as clicking on any property of the data set (e.g. Preview Results) an error dialog is shown with the following message:

"Expected a parameter named 1"

My connection string: "jdbc:neo4j:bolt://localhost?flatten=1"

It works perfectly when ru

[2017-07-10 23:57] jexp commented on #106
Not really sure what birt does there. Does it replace the ? itself? Or is there another syntax in birt where it replaces parameters with values?

You add a ? to your query, which is then replaced by the JDBC driver by {1} b/c it's the first parameter.
(and JDBC only allows numeric parameters).

[2017-07-11 06:02] b3no3 commented on #106
It replaces the first ? with the first defined parameter, the second with the second defined parameter and so on.  Just did a test again you're right, I thought the ? is replaced by the default value of the parameter, but it is the number of the parameter (1 for the first, 2 for the second...).

It does not replace the ? with the defined default value of the parameter like when using SQL. My solut

[2017-07-13 00:46] sharath1608 commented on #53
I'm waiting on the edge for this. Cannot move back to 2.x so I'm currently relying on GraphDatabaseFactory to connect to in-memory db. Any progress so far on this?

[2017-09-13 06:25] wuyu8995861 opened #107 "neo4j-jdbc-mybatis"
org/neo4j/jdbc/example/mybatis/mapper/ActorMapper.xml is here?

[2017-09-13 08:06] inserpio commented on #107
Hi @wuyu8995861, honestly I can't understand what you're asking for, but if you're looking for the file, then it's located here: neo4j-jdbc-examples/mybatis/src/main/resources/org/neo4j/jdbc/example/mybatis/mapper

[2017-09-13 08:42] wuyu8995861 commented on #107
thanks i find is that
 ..examples/mybatis/src/main/resources/org/neo4j/jdbc/example/mybatis/mapper/ActorMapper.xml

[2017-09-13 08:43] inserpio commented on #107
cool, so I'll close the issue, ok?

[2017-09-13 10:54] wuyu8995861 commented on #107
this  is support  ibatis ？

[2017-09-13 11:00] albertodelazzari commented on #107
@wuyu8995861 mybatis is a fork project from ibatis (I think 3.0 version) so even if the example is for mybatis I think it should work even for ibatis

[2017-09-15 11:01] Sankitha commented on #56
Hi,
Is there any way that I can import the json data generated by solr to neo4j?

Thanks in advance:)

[2017-09-15 11:18] jexp commented on #56
@Sankitha can you provide an example?

[2017-09-15 12:31] inserpio commented on #56
@Sankitha you could invoke the apoc.load.json procedure via neo4j-jdbc.

[2017-09-17 09:10] Sankitha commented on #56
@jexp I have an output as json file from Solr . I want it to be pushed to neo4j for more Analyses. My concern is about how to I bridge between Solr and Neo4j to achive this functionality.
@inserpio can you please share me some documents regarding using apoc.load.json.

[2017-09-17 10:41] jexp commented on #56
see here for load json: https://neo4j-contrib.github.io/neo4j-apoc-procedures/#_load_json

Which is also what we use for the ES integration internally.

[2017-09-20 04:56] Sankitha commented on #56
even after using apoc plugin while loading json I am getting error
Query cannot conclude with WITH (must be RETURN or an update clause) (line 1, column 1 (offset: 0))

"WITH "https://api.stackexchange.com/2.2/questions?pagesize=100&order=desc&sort=creation&tagged=neo4j&site=stackoverflow&filter=!5-i6Zw8Y)4W7vpy91PMYsKM-k9yzEsSC1_Uxlf" AS url"

[2017-09-20 05:00] Sankitha commented on #56
I could able to resolve this with
WITH "https://api.stackexchange.com/2.2/questions?pagesize=100&order=desc&sort=creation&tagged=neo4j&site=stackoverflow&filter=!5-i6Zw8Y)4W7vpy91PMYsKM-k9yzEsSC1_Uxlf" AS url

CALL apoc.load.json(url) YIELD value

UNWIND value.items AS item

RETURN item.title, item.owner, item.creation_date, keys(item)

Thanks @jexp and @inserpio

[2017-09-27 14:48] dadrus opened #108 "Integer - Long type mismatch between Bolt and Http protocols"
According to [Neo4j Type Mapping for Java](https://neo4j.com/docs/developer-manual/current/drivers/cypher-values/#driver-type-mappings), the Neo4j Integer type is represented as `java.lang.Long`. This representation is given by the Bolt protocol, but unfortunately not by the Http protocol implementation of the jdbc driver. All integral number, which can fit into 32 bits are represented as `java.la

[2017-09-27 16:06] inserpio commented on #108
Hi @dadrus, we can patch it and send you a snapshot, until we don't create a new release if that's ok for you.
You're right, we updated the bolt one first and not yet done with the http part

[2017-09-27 20:25] dadrus commented on #108
Hi @inserpio. Thank you very much for the offer. In my case it is however not urgent at all. I'm working on [jpa-unit](https://github.com/dadrus/jpa-unit), a test framework, which targets JPA specific tests for RDBMS, as well as for NoSQL DBs and ran into this issue during the implementation of the corresponding extension for Neo4j. So I can easily wait for the official release.

[2017-10-11 05:16] jyothi1121 opened #109 "Issue while connecting NEO4J to JASPERSOFT"
I am trying to connect NEO4J to JASPER SOFT. I referred below link for connection process.
http://neo4j-contrib.github.io/neo4j-jdbc/#_jdbc_compatibility
STEP 1 "Creating new Data Adapters" is successful and Database is successfully connected to JDBC.

But in STEP 2 "Retrieve Columns from Database" , i am facing an issue while fetching data from NEO4J database which is a part of creating JASPER re

[2017-10-11 05:40] inserpio commented on #109
Hi, I'm afraid something's missing on the metadata side. We're currently working on it.
As you can find in the guide, there's a working example of how to use the driver with Jasper.
Which version of Jasper are you using?

[2017-10-11 06:22] jyothi1121 commented on #109
I followed exactly the same steps as mentioned in the working example after which i am getting the above issue. Currently, I am using Jaspersoft studio version 6.4.0

[2017-10-11 07:27] inserpio commented on #109
Let me double check it

[2017-10-19 06:38] xho22 opened #110 "Invalid input '{': expected whitespace or a label name"
How to set label in create node cql?
`String query = "CREATE (n:{1} {})";`
`try (PreparedStatement stmt = con.prepareStatement(query)) {`
       ` stmt.setString(1,"testLabel");`
`stmt.executeUpdate();`
        `  }}`

I test "CREATE (n:{1} {})" and CREATE (n:? {}), both of them are all error.

[2017-10-19 06:56] #110 closed, assigned to nobody

[2017-10-19 07:05] inserpio commented on #110
You can't pass the label name as a parameter. It's a cypher limit, not a jdbc one, but you can easy solve that by calling a specific APOC.

[2017-10-30 09:52] unterstein opened #111 "Problem when having multiple jdbc driver configured"
Hey,

maybe my setup is quite special, but I do have issues when I use more than  one jdbc driver at once.

I configured the mysql jdbc driver and the BoltDriver for my neo4j jdbc connection. You can find the code here: https://github.com/unterstein/neo4j-beer-demo/blob/master/src/main/scala/Importer.scala

[code]
and a configuration as shown here:

[code]

But when I run this application, I get t

[2017-10-30 09:56] inserpio commented on #111
Hi Johannes, I'll deep dive into it, but one thing I'm seeing is that you're using bolt+routing which is not yet implemented in the jdbc driver. Could you try with just bolt and see if it solves?
Thanks

[2017-10-30 10:02] unterstein commented on #111
Hey @inserpio,

thank you for the quick reply! I just changed it to `bolt` but it does not make a difference :(

[2017-10-30 10:05] inserpio commented on #111
Ok, sorry for that. I tried for a quick win, but... let me investigate then...

In the meantime please remember we are still working on the routing.

Best,
Lorenzo

[2017-10-31 01:21] jexp commented on #111
There should be a method in driver that returns a  boolean to indicate that the JDBC URL is supported.

Otherwise check the docs, what is expected of getConnection if the wrong URL is passed.

[2017-10-31 12:09] unterstein commented on #111
Hey,

thanks for the feedback. The problem is in `DriverManagedDatasource` which is not able to run with multiple drivers at once, because it detects the driver based on the classpath. I switched to `SimpleDriverDataSource` and everything runs as expected.

Thanks
Johannes

[2017-10-31 12:09] #111 closed, assigned to nobody

[2017-10-31 17:35] inserpio commented on #111
Cool. Not very good feedbacks from my side actually, but super happy it now works for you!

Best,
Lorenzo

[2017-11-15 14:51] miteshaghera opened #112 "ResultSet.getObject(int, class) throws java.lang.UnsupportedOperationException"
`resultSet.getObject(1, Map.class);` throws `Method threw 'java.lang.UnsupportedOperationException' exception.`

[2017-11-15 16:33] jexp commented on #112
Do you have any JDBC drivers that support that?
We could do it when your cypher returns a map.

what happens if you just call rs.getObject(1) ?

[2017-11-16 04:15] miteshaghera commented on #112
@jexp Normally rdbms drivers support this.

When I call rs.getObject(1), it returns HashMap however I need cast explicitly.

[2017-11-16 09:54] jexp commented on #112
I was not aware of trad. rdbms supporting maps.

We can fix this.
What is the expected failure behavior if the element is not a map?
Fail or construct a single element map?

[2017-11-16 17:53] miteshaghera commented on #112
I'm not sure fail vs single element however I personally prefer single element map over the failure.

Please refer [java doc](https://docs.oracle.com/javase/7/docs/api/java/sql/ResultSet.html#getObject(java.lang.String,%20java.lang.Class))

[2017-12-01 10:58] glaggia-larus commented on #88
I have done this, I'm waiting for the refactor PR to be merged to create this PR.

[2017-12-01 17:03] inserpio commented on #94
@glaggia-larus could you please create an integration test for this issue (it should be already solved but IMHO it deserves a test to cover it).

[2017-12-04 15:09] #88 closed, assigned to glaggia-larus

[2017-12-04 15:09] #87 closed, assigned to glaggia-larus

[2017-12-04 16:10] glaggia-larus commented on #90
I've opened a new PR.
@fbiville can you please check if this implementation is ok with your software?

- Added DataSource implementation
- Added Unit tests
- Added an Integration Test

You can configure the DataSource using BoltNeo4jDataSource methods such as:
- setServername (defautl = localhost)
- setPortNumber (default = 0 - when lte 0 not added to the URL)
- setUser
- setPassword
- setIsSsl (d

[2017-12-04 16:40] #94 closed, assigned to nobody

[2017-12-05 11:36] glaggia-larus commented on #104
I think this is a good issue, we for sure need to implements the static block as requested from the specs.
I add this into the next milestone and I think I will implement this as soon as possible.

[2017-12-05 11:45] #92 closed, assigned to nobody

[2017-12-26 11:05] mariobastande commented on #11
Hi there!

there is an interesting step named "Neo4j output" available in the Pentaho-Spoon marketplace, very useful for this situation instead of creating the queries yourself.

Enjoy!

[2017-12-29 16:43] glaggia-larus commented on #46
I've opened a pull request for this. We are trying to insert it into the next release

[2018-01-02 10:32] glaggia-larus commented on #104
This is done and will be released in the next 3.2 version.

[2018-01-02 10:32] #104 closed, assigned to glaggia-larus

[2018-01-02 16:47] glaggia-larus commented on #6
To start a connection with neo4j you first need to let matlab know of the existence of the driver jar

<img width="1273" alt="screen shot 2018-01-02 at 17 32 44" src="https://user-images.githubusercontent.com/12963831/34491594-52a2f96c-efe4-11e7-935e-bd4e537d3069.png">

with javaclasspath you can check that there are no neo4j jars available in the class path.

<img width="1273" alt="screen shot 20

[2018-01-03 11:51] glaggia-larus commented on #35
no support in ResultSetReader for "array" types as well (SQL ResultSet
Panel).  You could add  a custom data type for Postgres to populate the
contents tab in the object tree.  However, we need to add support in
ResultSetReader as this is not currently plugin-accessible.  You could
submit a feature request.  Patches are also welcome.

this is what the squirrel team said about this problem (as far

[2018-01-03 11:51] #35 closed, assigned to nobody

[2018-01-03 12:56] glaggia-larus commented on #91
As it is done, I close this.

There is a similar problem with the new embedded version.

[2018-01-03 12:56] #91 closed, assigned to nobody

[2018-01-03 13:02] glaggia-larus commented on #101
this is fixed in #104

[2018-01-03 13:02] #101 closed, assigned to nobody

[2018-01-03 13:05] glaggia-larus commented on #80
This issue refers to #53 that is being worked to be merged in the new 3.2 release.

[2018-01-03 13:05] #80 closed, assigned to nobody

[2018-01-03 13:07] glaggia-larus commented on #102
If you are using the BOLT protocol what we did was to wrap the actual neo4j-java-driver so if the driver itself is thread-safe we can assume that the driver could be so.

[2018-01-03 14:21] #90 closed, assigned to glaggia-larus

[2018-01-03 20:09] jexp commented on #6
@glaggia-larus did you add this all to the docs?

I also did some experiments back then (totally forgot that we had this here as an issue):
http://gist.asciidoctor.org/?dropboxs-ovkhon37z64l5bh%2Fmatlab-neo4j.adoc%3Fdl%3D0

[2018-01-04 15:57] glaggia-larus commented on #6
I will add this to the docs asap and I will take the document you linked to me as example and starting point.

I reopen this as reminder

[2018-01-05 10:14] #46 closed, assigned to glaggia-larus

[2018-01-05 10:15] #108 closed, assigned to glaggia-larus

[2018-01-09 10:06] fbiville opened #124 "Regression in exception handling"
When we upgraded Liquigraph to `3.0.1` to `3.1.0`, some tests were failing because of the way the exception handling has changed:

[code]

The above snippet used to work. However, in `3.1.0`, a `ClientException` is thrown instead, which leaks from the underlying Bolt driver.

Could it be possible to wrap this error again?

[2018-01-09 14:56] glaggia-larus commented on #124
I can't reproduce the issue, not in 3.2 nor in 3.1.

In both branches this test:

[code]

throws a SQLException as requested.

Can you give me more info on how you are getting this problem?

[2018-01-09 16:53] fbiville commented on #124
The change in error handling was done [here](https://github.com/liquigraph/liquigraph/commit/3175aee86c3710db5f2d207f4bcac070196fb956).

As far as I remember, this [test](https://github.com/liquigraph/liquigraph/blob/86264dde7cdd3ad2eb89ba7f4f0826958833e516/liquigraph-core/src/test/java/org/liquigraph/core/io/ConditionExecutorTestSuite.java#L111) was failing.

Neo4j JDBC driver version is updated

[2018-01-09 16:58] glaggia-larus commented on #124
I tried the test since the release tag 3.1.0 that is the commit of the actual release.

Can you try to build a jar of the actual 3.2 branch (or I can build it for you) and use that?

[2018-01-09 17:06] fbiville commented on #124
Let me try that tomorrow morning. :)

[2018-01-12 02:52] yongkangCS opened #126 "Neo4j 3.3.0 support"
Is it support version 3.3.0

[2018-01-12 08:28] glaggia-larus commented on #126
It will support neo4j 3.3.1 from the next release coming (3.2.0)

[2018-01-12 08:28] #126 closed, assigned to nobody

[2018-01-15 10:28] albertodelazzari commented on #107
Can we close this issue?

[2018-01-15 11:47] albertodelazzari commented on #102
@sx5640 You're trying to write/update a node concurrently and if there is an existing open (write) transaction you can't do this. When the first thread writes/updates the node it locks the node (if it is not already locked) and it will be locked until the transaction completes. If another thread tries to write/update the same node while it is locked then you will get a TransientException. In this

[2018-01-24 14:21] #112 closed, assigned to glaggia-larus

[2018-01-24 14:24] #6 closed, assigned to glaggia-larus

[2018-01-24 14:24] #53 closed, assigned to glaggia-larus

[2018-01-24 14:25] jexp commented on #124
@fbiville did you try it?

[2018-01-24 14:28] jexp opened #127 "Release new neo4j-JDBC version 3.3.0"

[2018-03-15 22:09] fbiville opened #128 "Some queries are not properly escaped"
As explained here, the JDBC HTTP driver (I have not tried the others) seems to escape the queries in a bad way which results in a query execution failure (see https://stackoverflow.com/questions/49209652/neo4j-liquigraph-and-changeset-with-apoc-triggers# for instance).

[2018-03-23 01:54] #107 closed, assigned to nobody

[2018-03-28 12:14] #128 closed, assigned to nobody

[2018-03-28 12:14] jexp commented on #124
@fbiville ping?

[2018-03-28 12:15] jexp commented on #109
@inserpio did you check this?

[2018-03-28 12:15] jexp commented on #106
@glaggia-larus did we resolve this issue?

[2018-03-28 12:15] jexp commented on #105
@glaggia-larus is this done?

[2018-03-28 12:25] glaggia-larus commented on #105
no this is not done.

[2018-03-28 12:26] glaggia-larus commented on #106
Not that I know. This is still in the backlog

[2018-03-29 01:09] inserpio commented on #105
@jexp I just added this test:
[code]

and it seems all good to me with these 3 nodes:

[code]

[2018-03-29 13:20] fbiville commented on #124
I'll try to test it today.
Else feel free to close it, I'll reopen it when I find time.

[2018-03-29 13:22] fbiville commented on #89
As briefly mentioned on Neo4j-Users.slack.com, https://github.com/liquigraph/trinity tries to solve this issue (still very alpha) and it supports:

- HTTP (Neo4j 2/3)
- Embedded (Neo4j 2/3)
- Bolt (missing bolt+routing perhaps?)

There are some API refinements and performance analysis to carry out, but it would bring Neo4j 2 support out of the box.

[2018-04-18 12:02] Jacob-Zhou opened #132 "A little confusion about execute and executeUpdate return value"
When I tried using MATCH-SET to change the property of node with preparedStatement.executeUpdate() or preparedStatement.execute(). the return value is not expected that the return value alway is 0 or false no matter whether the result is a failure or a success.

[2018-04-18 12:51] inserpio commented on #132
MATCH-SET without RETURN?

[2018-04-18 13:20] inserpio commented on #132
If you don't return anything than it's correct that execute returns false as you have no resultset.
ExecuteUpdate returns zero are we are just counting nodes / rels but we ignore properties (nodesCreated + nodesDeleted + relationshipsCreated + relationshipsDeleted).

[2018-04-19 00:21] neo4j-dk opened #133 "No suitable driver found for jdbc:neo4j:/localhost:7474"
i have the following code to test connection to the neo4j: version 2.2.5
i am using driver of: neo4j-jdbc-driver-3.3.0.jar
i already defined the $CLASSPATH so that to include neo4j-jdbc-driver-3.3.0.jar but i got
'No suitable driver found for jdbc:neo4j:/localhost:7474'

Could anyone help with this?
Thanks,

java Neo4jConnectionTest1
---1---
---1-1---
---3---No suitable driver found for jdbc:neo4j

[2018-04-19 09:05] jexp commented on #133
It misses one slash.
`jdbc:neo4j://localhost:7474`

and better to use bolt `jdbc:neo4j:bolt://localhost`

also you cannot use the default password

[2018-04-19 13:30] neo4j-dk commented on #133
just modified with extra slash and using jdbc:neo4j:bolt//localhost without password,
still received the same error:
No suitable driver found for '....'

Thanks!

[2018-04-19 13:46] inserpio commented on #133
Are you using it in some kind of container? Or pure java?

[2018-04-19 13:47] neo4j-dk commented on #133
using Java 1.8: just want to create a sample test code to connect to the neo4j db.
Thanks!

[2018-04-19 13:58] inserpio commented on #133
something like: `java -cp neo4j-jdbc-driver-3.3.0.jar Neo4jConnectionTest1 ` ?

[2018-04-19 14:01] neo4j-dk commented on #133
tried that already!
it found the jar file otherwise the code
Class.forName("org.neo4j.jdbc.Driver");
won't work which is before the System.out.println("---1---");

Thanks!

[2018-04-19 14:03] inserpio commented on #133
it's not necessary to call `Class.forName` <- it auto-discovers the right class to load.
or replace it with `Class.forName("org.neo4j.jdbc.bolt.BoltDriver")`

[2018-04-19 14:07] neo4j-dk commented on #133
modified and compiled but still failed for the same error:
No suitable driver found for jdbc:neo4j:....

Thanks!

[2018-04-19 14:08] inserpio commented on #133
weird! any change to share the test project?

[2018-04-19 14:11] neo4j-dk commented on #133
the code i posted just a standalone java class: even the back-end (neo4j) is not running, i will expect some other kind of errors but not this one, right?

Thanks!

[2018-04-19 20:30] neo4j-dk commented on #133
just fixed the connection issue by adding ':bolt' into getConnection(...)

Neo4jConnection con = (Neo4jConnection)DriverManager.getConnection("jdbc:neo4j:bolt://localhost:7474");

will try the connection but failed due to the unrecognized SSL message, plaintext connection issue.

Thank you all.

[2018-04-19 20:30] #133 closed, assigned to nobody

[2018-04-19 20:33] inserpio commented on #133
Just add ?noSsl to the url

[2018-04-19 20:35] neo4j-dk commented on #133
yes, just added the ":bolt" and it will try to connect!

[2018-04-20 01:15] Jacob-Zhou commented on #132
thx~

[2018-04-20 01:15] #132 closed, assigned to nobody

[2018-04-23 16:48] neo4j-dk opened #134 "org.neo4j.driver.v1.exception.ServiceUnavailableException: unable to process request: unrecognized SSL message, plaintext connectyion?"
i git the following error messages: all i want is for this simple code to make connection with neo4j.
thanks!

---1---
---3---org.neo4j.driver.v1.exceptions.ServiceUnavailableException: Unable to process request: Unrecognized SSL message, plaintext connection?

import org.neo4j.jdbc.*;
import java.sql.DriverManager;
public class Neo4jConnectionTest1 {
    public static void main(String[] args) {

[2018-04-23 20:59] inserpio commented on #134
The URL is not correct:
1) Bolt port is 7687 and not 7474
2) add noSsl parameter.

try with `jdbc:neo4j:bolt://localhost?noSsl`

[2018-04-23 21:14] neo4j-dk commented on #134
tried but still not working!
i don't know much of neo4j but i don't think neo4j in my environment is setup to run on 7687.
the only reason i am using "jdbc:neo4j:bolt://localhost:7474..." string with 'bolt' in there is to overcome the error of "No suitable driver found for jdbc:neo4j://localhost:7474..." even i have the driver jar file in the CLASSPATH definition.

thanks!

[2018-04-24 22:45] neo4j-dk commented on #134
I modified the code so that to create Properties instance and the connection staring is now:
"jdbc:neo4j:http://localhost:7474"
and i am getting the
Neo.ClientError.Security.AuthorizationFailed]: No Authorization header supplied.
what else i need to set the Properties?
Thanks!

Properties props = new Properties();
props.setProperty("user", "neo4j");
props.setProperty("password", "<password-here>")

[2018-04-26 18:54] dangalvinSF opened #135 "java.lang.UnsupportedOperationException: Cannot convert from java.lang.String to java.util.List. Requested converter does not exist."
For the following query:

[code]
via SpringJdbc:
`List<SchemaNode> retList = jdbcTemplate.query(NODES_QUERY, start, new BeanPropertyRowMapper<SchemaNode>(SchemaNode.class));`

an attached UnsupportedOperationException was thrown:

[code]
Oddly, the exception seems to be eaten and the set for the List<String> succeeds.

[UnsupportedOperationException.txt](https://github.com/neo4j-contrib/neo4j-jdbc

[2018-04-27 10:57] glaggia-larus commented on #134
Neo4j is indeed configured to run on port 7687 by default, would you try this address please?

`jdbc:neo4j:bolt://localhost:7687?noSsl`

[2018-05-04 00:24] jexp opened #136 "Support the new date(time) and geo-datatypes in Neo4j 3.4 / Driver 1.6.0"

[2018-05-08 08:29] sey opened #137 "Neo4jStatement.getMoreResults() returns true when there is no more result."
I have a simple application with Spring Boot, MyBatis and Neo4j.
I'm doing this simple query via MyBatis using Bolt protocol:
`MATCH (u:User) RETURN u.id as id, u.email as email`

It works when there is a User in the graph but it generates an infinite loop when there is no User in the graph.

In MyBatis DefaultResultSetHandler:

[code]

When there is no User the ResultSet is null but `stmt.getMore

[2018-05-22 15:59] dangalvinSF commented on #135
I am attaching
[Problem Report Mock Neo4j Graph.txt](https://github.com/neo4j-contrib/neo4j-jdbc/files/2027450/Problem.Report.Mock.Neo4j.Graph.txt)
a sample simple graph to use to recreate the problem.

Also, I modified the query from this initial report to match the mock graph:
[code]

[2018-05-22 16:11] inserpio commented on #135
Many thanks @dangalvinSF

[2018-05-31 09:19] bushwakko opened #138 "NPE in BoltNeo4jResultSet"
`	private Value fetchValueFromLabel(String label) throws SQLException {
		Value value;
		if (this.current.containsKey(label)) {
			//Requested value is not flattened
			value = this.current.get(label);`

current is apparently null here for me, when doing a CREATE (name:NAME) RETURN name and trying to get the result.

[2018-06-01 12:28] #127 closed, assigned to nobody

[2018-06-01 12:31] #134 closed, assigned to nobody

[2018-06-01 12:32] inserpio opened #139 "Causal cluster support"

[2018-06-01 12:40] inserpio opened #141 "re-run performance test"
in particular we have this from the customer:

performances degrades with `execute` compared to `executeQuery`

[2018-06-01 12:44] inserpio opened #142 "Upgrade to JDK 1.8"

[2018-06-04 08:31] omarlarus commented on #135
Hi @dangalvinSF ! Are you mapping the result into an object with "columns" and "primaryKeyColumns" declared as List?
Looking at the stack trace I'm guessing that the spring framework is trying to convert a String to a List.
I think there's a problem in your model or query. In fact the properties "columns" and "primaryKeyColumns" are setted as String, not array.

To sort out the issue you can use t

[2018-06-04 13:04] inserpio opened #143 "HttpNeo4jResultSetMetaData NPE for empty resultsets"
Both methods:
- `public int getColumnType(int column) throws SQLException`
- `public String getColumnClassName(int column) throws SQLException`

in the HTTP module start with:

- `final Object object = ((List<Object>) this.result.getRows().get(0).get("row")).get(column - 1);`

which lead to a null pointer exception when the result list is empty

Let's check the all methods for similar problem

[2018-06-04 13:09] inserpio commented on #143
/cc @lio955

[2018-06-04 13:13] lio955 opened #144 "Null pointer exception when result is empty"
If the result list is empty then this.result.getRows().get(0) is null :

class org.neo4j.jdbc.http.HttpNeo4jResultSetMetaData

	@SuppressWarnings("unchecked") @Override public int getColumnType(int column) throws SQLException {

            final Object object = ((List<Object>) **this.result.getRows().get(0**).get("row")).get(column - 1);
....

@SuppressWarnings("unchecked") @Override public Strin

[2018-06-04 13:14] lio955 commented on #144
oups posted previously

[2018-06-04 13:14] #144 closed, assigned to nobody

[2018-06-05 10:08] omarlarus commented on #138
Hi @bushwakko , the issue is not clear, can you provide any details, please?
We need to know:
- jdbc driver version
- the statement used to execute the create query
- the code after the getResultSet()
- the complete stack trace of the exception

Thanks

[2018-06-06 08:52] bushwakko commented on #138
I've since changed my code, so this is not a problem any more. I've refactored quite a bit, so I'm not sure exactly the state of the code when I posted this. I think it might be because I did not do rs.next() possibly.

I apologize for the lack of information in this bug report, very low effort on my part...

[2018-06-06 08:52] #138 closed, assigned to inserpio, omarlarus

[2018-06-11 14:34] #137 closed, assigned to inserpio, omarlarus

[2018-06-11 15:19] #143 closed, assigned to inserpio, omarlarus

[2018-06-11 15:19] #141 closed, assigned to inserpio, omarlarus

[2018-06-12 21:51] inserpio opened #149 "enrich getClientInfo map"
It would be good to enrich the client info map with other useful information:

- server address (and port) where the last statement was executed:
- query statistics (nodes updated, nodes deleted, .... etc)

i.e.
[code]

[2018-06-13 04:26] FossilBlade opened #150 "JDBC PreparedStatement not placing Parameters in {1}"
The following code isnt executing:

[code]
Giving Error: Invalid input '{': expected whitespace or a label name (line 1, column 10 (offset: 9)) "MATCH (n:{1}) RETURN n"

[2018-06-13 07:19] omarlarus commented on #150
Hi @raushan2003 , your issue is not about JDBC. You get the error because you cannot use dynamic parameters for Label. If you want to write a query like that, you need to replace (string concatenation) the Label into the cypher.

If you need support about cypher, try [here](https://support.neo4j.com/hc/en-us)

[2018-06-13 11:30] jexp commented on #150
Also:

1. you must use `{1}` etc, not `?`
2. Parameter Numbers in JDBC start with `1`

[2018-06-22 07:25] RaulGF92 opened #152 "Taking Raw Data"
Hi i'm taking queries using java driver and need take the raw statementResult, how i can get that? Thanks you. I will put a piece code like example.

[code]

I expect something like this:

[code]

[2018-06-22 07:42] jexp commented on #152
Why?
And why don't you the just use the java driver

Please note that there is no json in the java driver at most you get a list of maps

[2018-06-22 07:47] RaulGF92 commented on #152
Because i need neo4j format for paint a Graph using something like this framework https://github.com/eisman/neo4jd3 , and i can't attack database from client, first need pass by business layer.

[2018-06-22 08:04] inserpio commented on #152
Well, this driver is just a pure implementation of the JDBC interface. It doesn’t provide any additional conversion.
Maybe you could rely on some APOC and call them via this driver, or implement you own one, if you can’t do that in the middle tier

[2018-07-05 20:09] n1zea144 opened #153 "Query timing out?"
I am trying to execute a query which involves a large "IN" clause (~47000 strings in the clause).  If I feed the query to cypher-shell on the command line, it takes a few seconds to complete.  When I programmatically construct the query in a java/jdbc program, a result is never returned from the server and no exceptions are generated.

Could I be encountering some transaction or database connectio

[2018-07-05 20:36] inserpio commented on #153
Hi Benjamin, let us investigate a bit.
Could you by chance share that piece of code generating the issue?
Thanks!
Lorenzo

[2018-07-05 21:22] jexp commented on #153
I very much hope you are using parameters for your large string list and not generating a query with a huge literal expression?
You can run neo4j enterprise as part of neo4j desktop and there also generate the relevant logs.

Are you running via bolt? What kind of profile does the browser show when your run your query with EXPLAIN / PROFILE ?

[2018-07-06 15:04] n1zea144 commented on #153
Thanks for the fast replies @inserpio @jexp.  Here is some more information - the code is being written to support a website with a Java/Spring/MyBatis-MySQL backend.  I'm prototyping the use of neo4j and have a MyBatis-neo4j implementation running alongside the MySQL implementation.  I am using bolt.

I'm not sure how helpful this is, but via the Mybatis logs, I can see the query taking the form:

[2018-07-06 16:00] n1zea144 commented on #153
Here is my PROFILE capture.  Putting the performance of the query on the back burner, the fact that the query completed in the browser but not in my java application has me scratching my head.  I would have pointed the finger at the mybatis library were in not for the fact that the same code runs when its backed by MySQL.  Which leads me to my first thought that maybe there is a timeout occurring

[2018-07-06 17:27] InverseFalcon commented on #153
Commenting on the query tuning side, your expansion and filter based on type is a bottleneck, that won't run efficiently. If you can change this so the type is explicitly on the relationship in the pattern, then this will be much faster:

[code]

If the type is dynamic, then I'd advise using APOC pathfinding procedures to take care of the expansion instead:

[code]

Also your totalCount may not be

[2018-07-06 22:59] n1zea144 commented on #153
Thanks @InverseFalcon .  I'm still learning the basics of Cypher queries, I need some time to absorb what you've written.

@inserpio @jexp for what its worth, I was able to capture a stack trace after forcibly removing my application from the tomcat container.   The driver appears to be attempting to read from a socket while attempting to close a transaction.  I thought if I let this run longer it

[2018-07-11 12:46] omarlarus opened #155 "Implement the simple time methods for PreparedStatement, for bolt protocol"
Rif Issue #136
Add to bolt PreparedStatement the implementation of:
- setTime(int, Time)
- setTimestamp(int, Timestamp)
- setDate(int, Date)

[2018-07-11 12:48] omarlarus opened #156 "Implement the complex time methods of PreparedStatement, in bolt protocol"
Rif Issue #136
Add to bolt PreparedStatement the implementation of:
- setTime(int, Time, Calendar)
- setTimestamp(int, Timestamp, Calendar)
- setDate(int, Date, Calendar)

[2018-07-11 14:51] omarlarus commented on #153
Hi @n1zea144 ,
what is the query of the PROFILE you posted? I think it's the one of the query without the IN clause, because I can't see the filter part refer to it.
It's very strange a query that works on the browser doesn't work on the JDBC. I tested that and the execution time for your very long query is quite the same on browser and on jdbc.
Reading the exception you posted it seems the query

[2018-07-19 15:33] omarlarus opened #159 "Enable driver configuration"
Use the "driver.connect(url, properties)" to set the [Config](https://neo4j.com/docs/api/java-driver/1.6/) used to connect to the server.

[2018-07-20 12:11] #159 closed, assigned to omarlarus

[2018-07-20 12:13] #136 closed, assigned to nobody

[2018-07-20 12:13] #142 closed, assigned to inserpio, omarlarus

[2018-07-20 12:13] #155 closed, assigned to nobody

[2018-07-20 12:17] #156 closed, assigned to nobody

[2018-07-20 12:32] omarlarus opened #161 "Get configuration for bolt protocol from URL"
Rif Issue #159
Get the same properties used in #159 from the connection URL.
The URL parameter should override the same key in the properties.

[2018-08-20 21:39] adriens opened #163 "Squirrel (jre 1.8) complaining about the driver is not JDBC 2.1 compliant"
![2018-08-21 08_36_13-about](https://user-images.githubusercontent.com/5235127/44368047-4ed4be80-a51d-11e8-8452-4e25cbde8b9f.png)

![bug](https://user-images.githubusercontent.com/5235127/44368004-2b117880-a51d-11e8-946b-e06964f53dae.png)

Still the queries are running.

[2018-08-20 21:41] adriens commented on #163
Here is jre version :

![2018-08-21 08_40_32-squirrel sql client snapshot-20180815_2231](https://user-images.githubusercontent.com/5235127/44368222-e6d2a800-a51d-11e8-856a-2c8949e5be62.png)

[2018-08-21 07:07] omarlarus commented on #163
Hi @adriens ,
can you provide us the connection parameters and the exact version of the neo4j jdbc driver?

[2018-08-21 12:06] #161 closed, assigned to omarlarus

[2018-08-22 09:38] adriens commented on #163
Hi @omarlarus , i've downloaded the latest available jar provided in the latest release : `neo4j-jdbc-driver-3.4.0.jar`

[2018-08-22 09:41] adriens commented on #163
Here are the driver properties i used :
![2018-08-22 20_40_18-squirrel sql client snapshot-20180815_2231](https://user-images.githubusercontent.com/5235127/44456222-b12bdd00-a64b-11e8-8ab5-af793725eb7e.png)

[2018-08-22 09:42] adriens commented on #163
Are these datas enough for you ? If not, please tell me what to provide you. In fact i've used default properties,  hope this helps 😸

[2018-08-22 09:43] omarlarus commented on #163
Thanks @adriens . There's this [PR](https://github.com/neo4j-contrib/neo4j-jdbc/pull/164) that fix the issue. You can test a preview downloading the jar from [here](https://www.dropbox.com/s/cy9m38z9ttngvl1/neo4j-jdbc-driver-3.4.0.jar?dl=0). Let us know if it works, please.

[2018-08-22 09:46] adriens commented on #163
I've just downloaded it : I give it a ry right now. I'll let you know ASAP.

[2018-08-22 09:51] adriens commented on #163
Just replaced the previous jar by this one : it does the job : ***no more warning*** 👍
Thanks a lot for the fix !

[2018-08-22 09:59] adriens opened #165 "JDBC MetaData Question > Squirrel > No TABLE retrieved from connection"
While loading connexin objects, I cannot retrieve tables : it remains empty :

![2018-08-22 20_55_43-squirrel sql client snapshot-20180815_2231](https://user-images.githubusercontent.com/5235127/44456997-c30e7f80-a64d-11e8-8ae2-12170551fd74.png)

Still, i can query nodes :

![2018-08-22 20_56_57-squirrel sql client snapshot-20180815_2231](https://user-images.githubusercontent.com/5235127/44457104-

[2018-08-22 10:28] omarlarus commented on #165
Hi @adriens ,
the standard behaviour is:

- Label -> Table
- Property -> Column

So the relationships should not be shown. But there's something not working in your case. I'm checking it.

[2018-08-22 10:38] adriens commented on #165
Let me know if you need me to make any additional test.

[2018-08-22 11:13] adriens commented on #165
Here are some logs about not finding tableNames :

[code]

[2018-08-23 00:31] adriens commented on #163
Thanks to your help i could release my latest linkedIn article 😃
https://www.linkedin.com/pulse/digging-mining-datas-structures-extracting-from-neo4j-adrien-sales/

[2018-08-24 15:38] omarlarus commented on #165
Hi @adriens ,
there's a new [PR](https://github.com/neo4j-contrib/neo4j-jdbc/pull/166) that will fix the issue. If you need the jar I can send you a preview.

[2018-08-24 15:41] omarlarus commented on #109
It'll be fixed with the [PR 166](https://github.com/neo4j-contrib/neo4j-jdbc/pull/166)

[2018-08-25 01:02] adriens commented on #165
Hi @omarlarus  : if you want me to test it, I can dot it, like you did it last time. One more tester is never too much, no ? 😸
It's up to you, just let me know 👍

[2018-08-27 09:08] omarlarus commented on #165
Here's a [preview](https://www.dropbox.com/s/urauc08o4g3qnaw/neo4j-jdbc-driver-3.4.1.jar?dl=0). Thanks a lot

[2018-08-27 09:56] adriens commented on #165
Hi, sorry, but bad news around here this time :

`2018-08-27 20:53:54,553 [AWT-EventQueue-1] INFO  net.sourceforge.squirrel_sql.fw.util.log.SystemOutToLog  - ao?t 27, 2018 8:53:54 PM org.neo4j.driver.internal.logging.JULogger info
2018-08-27 20:53:54,553 [AWT-EventQueue-1] INFO  net.sourceforge.squirrel_sql.fw.util.log.SystemOutToLog  - INFOS: Closing driver instance 1120434653
2018-08-27 20:53:54

[2018-08-27 10:02] omarlarus commented on #165
The jar is named: "neo4j-jdbc-driver-3.4.1.jar", are you using it into the connection? Is the dropbox link right?

If it's all ok about the jar, can you try to right click to "refresh items" and wait for a little: sometimes Squirrel's quite slow to load the information.

[2018-08-27 10:19] adriens commented on #165
Yep, classpath has been updated :

![2018-08-27 21_12_23-squirrel sql client snapshot-20180815_2231](https://user-images.githubusercontent.com/5235127/44654811-b79cc900-aa3e-11e8-9f45-2575271a484c.png)

But table fodler remains empty. Did you manage to make it run on this Squirrel version ?...on Windows ?

[2018-08-27 10:21] adriens opened #167 "getSystemFunctions() is not yet implemented"
Maybe return at least an empty List ?

![2018-08-27 21_14_26-squirrel sql client snapshot-20180815_2231](https://user-images.githubusercontent.com/5235127/44654912-13ffe880-aa3f-11e8-8fec-6927b1f5db74.png)

[2018-08-27 10:26] adriens commented on #165
Looks like Squirrel is trying to load procedures while trying to refresh tables :

[code]

...hence causing table retrieval not to be run in fact

[2018-08-27 10:27] adriens commented on #165
COuld you implement ```at org.neo4j.jdbc.Neo4jDatabaseMetaData.getProcedureTerm``` ?

[2018-08-27 10:29] omarlarus commented on #165
I tested it on SQuirrel 3.8.1 on Mac. Sometimes I did the "refresh items" because the tool has a strange implementation that often closes and reopen the connection. Other tools like DBeaver are more efficient. When it refreshes the items, it loads a lot of information, not only the table names (the neo4j labels).

[2018-08-27 10:32] adriens commented on #165
Yes, totally matching what i could observe here too.

```org.neo4j.jdbc.Neo4jDatabaseMetaData.getProcedureTerm``` seems to be one of them.

[2018-08-27 10:34] adriens commented on #165
Could you try implement it ?

![2018-08-27 21_34_07-databasemetadata java platform se 8](https://user-images.githubusercontent.com/5235127/44655477-f92e7380-aa40-11e8-815e-d85999784836.png)

[2018-08-27 10:34] adriens commented on #165
It should do the trick. 😸

[2018-08-27 10:35] adriens commented on #165
https://docs.oracle.com/javase/8/docs/api/java/sql/DatabaseMetaData.html

[2018-08-27 21:56] adriens commented on #165
@omarlarus : i've created a PR to fix this see https://github.com/neo4j-contrib/neo4j-jdbc/pull/168

[2018-08-28 07:20] adriens commented on #165
It'as alreay available on master.

[2018-09-04 14:03] #163 closed, assigned to omarlarus

[2018-09-04 14:03] #109 closed, assigned to nobody

[2018-09-04 14:04] #165 closed, assigned to omarlarus

[2018-09-06 22:09] adriens commented on #165
let me know if you want me to give it a try.

[2018-09-20 09:13] crazyyanchao opened #169 "Parsing decimal error?"
I stored decimals in the neo4j database and reported an error while using Java jdbc access
[code]

[2018-09-20 09:40] #169 closed, assigned to nobody

[2018-09-20 10:02] crazyyanchao opened #170 "Parsing decimal error"
I stored decimals in the neo4j database and reported an error while using Java jdbc access
[code]
And then  I try convert to JSON but fail
search.getObject(i) demo data (how to convert to JSON):
[code]

[2018-09-24 07:46] omarlarus commented on #170
Hi @crazyyanchao ,
can you provide us the Cypher code used to create the data and the whole java code (sql query + resultStatement management), please?
The JSON problem is not clear, we need some more details. If it isn't related to the "float" problem, it's worth to create another issue.

[2018-09-25 01:42] crazyyanchao commented on #170
I query <MATCH (n:Label1) RETURN n LIMIT 10>   // !!! 1.The attributes of the node have decimals.  2.search.getObject Cannot convert to JSON!

Attachments are the means of parsing the result set.
[code]

[2018-09-25 08:15] omarlarus commented on #170
Hi @crazyyanchao ,
when you execute the Cypher statement "`MATCH (n:Label1) RETURN 10 LIMIT 10`" the database return to you the number "10" because there's no variables in the "`RETURN`" clause. However, even if you did a typo and the query is "`MATCH (n:Label1) RETURN n LIMIT 10`", when you call the column count you have 1 and it means the *node* (n), and it throws the exception you wrote. We're

[2018-09-25 08:17] #153 closed, assigned to nobody

[2018-09-25 10:18] crazyyanchao commented on #170
Thanks @omarlarus
I typed the wrong code ~.~.  MATCH (n:Label1) RETURN n LIMIT 10
But, search.getObject convert to JSON ERROR!
I need to transform relationships and nodes to JSON.
NODE is {OBJECT}, RELATIONSHIP is []!
How to use a method to solve? It soupport to convert n and p! I can not understand！

[2018-09-25 10:33] omarlarus commented on #170
Hi @crazyyanchao ,
you can choose 2 ways:

- `rs.getObject(int):Map<String,Object>` if the parameter is a node or a relationship you get a map with the values inside them and then convert it into a JSON.
- `rs.getString(int):String` if the parameter is a node or a relationship you get a JSON string representing the content. This feature in your case has a bug we're solving today.

If you need a qu

[2018-09-25 11:07] crazyyanchao commented on #170
@omarlarus Please send it to my email address，Thanks!
EMAIL: yanchaoma@foxmail.com

[2018-09-25 12:08] omarlarus commented on #170
@crazyyanchao  you can download a preview with the fix [here](https://www.dropbox.com/s/zmfusedt4yorchw/neo4j-jdbc-driver-3.4.0_170.jar?dl=0)

[2018-09-25 15:23] omarlarus commented on #170
@crazyyanchao  I sent you the 3.4 version of jdbc driver, that need the 1.6.1 version of neo4j-java-driver.

Try to change the dependency, please
[code]

PS: you can check the dependencies looking at [here](https://github.com/neo4j-contrib/neo4j-jdbc/tree/3.4) in the README section.

[2018-09-26 01:57] crazyyanchao commented on #170
@omarlarus OK, Thanks!

[2018-09-27 14:42] jexp commented on #170
Merged the pull request, will be in the next release.

[2018-09-27 14:43] jexp opened #173 "Create branch for 3.5"
3.5.0-beta01 was released today so the code should be stable

esp. around potential cypher/driver changes + embedded mode

[2018-09-28 05:55] diannao720 opened #174 "mybatis neo4j insert"
<mapper namespace="org.neo4j.jdbc.example.mybatis.mapper.ActorMapper">
	<insert id="insertNode" parameterType="java.util.HashMap">
		Create (p:Knowledge {name: #{name},id: #{id}})
	</insert>
</mapper>

Insertion has no effect.please why

[2018-09-28 06:00] inserpio commented on #174
Try removing brackets.
If I remember correctly, Mybatis uses #name and #id as params format.

[2018-09-28 06:06] diannao720 commented on #174
`<mapper namespace="org.neo4j.jdbc.example.mybatis.mapper.ActorMapper">
	<insert id="insertNode" parameterType="java.util.HashMap">
		Create (p:Knowledge {name: “aaa”,id: 1})
	</insert>
</mapper>`

Insertion has no effect.please why

[2018-09-28 07:46] #167 closed, assigned to omarlarus

[2018-09-28 07:46] #170 closed, assigned to omarlarus

[2018-09-28 07:50] omarlarus opened #175 "Version 3.4 doesn't close properly on Tomcat"
Essentially what is happening is that if we have Apache Tomcat running with the context.xml file using the Neo4j latest 3.4.0 JDBC Bolt Driver and connected to a neo4j instance all works perfectly ok, but if we shut-down the tomcat, even if tomcat shuts-down, the unix process that was running tomcat hangs and never disappears unless is forcefully killed. It seems like the actual connection to the

[2018-09-30 23:57] adriens commented on #167
:+1:

[2018-10-02 12:10] omarlarus commented on #174
Hi @diannao720 ,
answer to these questions, please:
1. do you have a log of the operation?
2. Are you sure the transaction is committed?
3. Do you have any errors?
4. Which neo4j-jdbc and neo4j version are you using?
5. Are you using BOLT or HTTP protocol?

Thanks

[2018-10-02 15:21] omarlarus opened #176 "Improve/Optimize the Driver management in pool"
Releated to # #175
Reduce the number of neo4j driver instances when the JDBC connections are created into a connection pool.

[2018-10-08 01:41] diannao720 commented on #174
@omarlarus
1.no
2.yes
3.no error
4.neo4j-jdbc-driver  3.1.0    neo4j neo4j-enterprise-3.4.0-alpha06
5.Bolt

[2018-10-08 14:26] tusharranjan2904 opened #179 "BoltRoutingNeo4jDriver - Issue with Boolean Data type"
We automate tests to execute services and validate data from Neo4j. We recently moved to using the Bolt Routing Driver for our tests(org.neo4j.jdbc.boltrouting.BoltRoutingNeo4jDriver). After this we are facing an issue when the datatype is Boolean. It’s always returned as “null”.
We are using “neo4j-jdbc-driver-3.4.0.jar” to insert and retrieve data from Neo4j. Earlier we were using “neo4j-jdbc-2.

[2018-10-08 15:06] inserpio commented on #179
Hi @tusharranjan2904, I got informed by the neo4j support team that you're facing this issue.
If you're fine, as soon as we identify (and solve) the problem, we (@larusba) will send you a snapshot jar, so that you can test whether our patch solves the issue or not.
We'll keep you update.

[2018-10-08 18:44] tusharranjan2904 commented on #179
Thanks a lot !

Sent from my iPhone

[2018-10-09 08:01] omarlarus commented on #174
@diannao720  try to enable the neo4j log using the `dbms.logs.query.enabled=true` and `dbms.logs.query.threshold=0` in the `neo4j.conf` of your database. Test it executing some query via browser and if it's all right and you can see the log, run your code. If you can see the query the issue is on the transaction management otherwise in the something before the call. I suggest you enable some log f

[2018-10-10 09:40] crazyyanchao opened #180 "search.getString(i) covert data error"
@omarlarus Hi , Greate master... I have some question to consult you :)
1.Data change
My node has property,
userDefinedImageUrl: https://media.licdn.com/dms/image/C5603AQExXKtM40raLQ/profile-displayphoto-shrink_800_800/0?e=1544659200&v=beta&t=9xoIWS07qETsPq-_4GT4lP7mj_2_w_1nKYhxq-2yv8g

I use search.getString(i) get property:

columnNum = search.getMetaData().getColumnCount();
                for

[2018-10-10 10:12] omarlarus commented on #180
Hi @crazyyanchao ,
have the two points any relationship one to the other? If not, please open two issues.
For both the cases, can you provide us any examples of the problem, please? We need:

1. the data you have
2. the query you do
3. the code you run
4. the description of the problem in terms of stack trace or differences between what you get and what you expect
5. All can be useful to reproduce

[2018-10-11 07:33] crazyyanchao commented on #180
Hi @omarlarus
CYPHER:
[code]
The data is encapsulated in JSON:
[code]
The above normal, and then

---------------------------

1.Repeat the first question
I add a property to node Tatiana Del-Solar_269266179_linkedin.
PROPERTY-
[code]
Convert error: 800_800/0?e -> _800_800/0{1}
[code]
2.Repeat the second question
I add a property to node Tatiana Del-Solar_269266179_linkedin.
PROPERTY-
[code]
Conve

[2018-10-11 09:24] omarlarus commented on #180
Hi @crazyyanchao ,
you need to use the `PreparedStatement` feature of setting values.

In short, you should use the JDBC in this way:
[code]
by the way if you write in Cypher:
`userDefinedImageUrl: "[\"test1\",\"test2\",\"test3\"]"`
it means to set a string value. If you want to set an array you need to remove the surrounding quotation marks like this:
`userDefinedImageUrl: [\"test1\",\"test2\",\"

[2018-10-12 03:57] crazyyanchao commented on #180
Hi @omarlarus

getNeo4jResult This analytic method is the point!

I know what you mean, but errors are reported rather than stored when parsing the data.In addition,my array is stored in a string.

Thanks!

[2018-10-12 07:50] omarlarus commented on #180
@crazyyanchao
Starting from the information you wrote, you're using the jdbc in no properly way. Please, change your code using `stmt.setString `and `stmt.setObject` when you write the data in order to have a right data saved. Using the standard way your problems will be solved. If something isn't clear, please do a specific question.

[2018-10-12 08:23] crazyyanchao commented on #180
Ok,I try again. Thanks! @omarlarus

[2018-10-17 15:22] tusharranjan2904 commented on #179
Hi @omarlarus! Is there an ETA to when I can get the updated jar for this. All my automation tests are failing because of this.

[2018-10-23 03:30] diannao720 commented on #174
[code]

[2018-10-23 03:32] diannao720 commented on #174
The above log
`<insert id="insertNode" parameterType="java.util.HashMap">
		Create (p:Knowledge {name: "aaaaaa",id: 500})
	</insert>`

[2018-11-09 17:59] ch-ricardor commented on #103
Hello,
I did a test with KNIME and Neo4j using the connector.

I downloaded the jar file: https://neo4j.com/blog/neo4j-jdbc-driver-3-0-3-and-3-1-0-released/ in the section "Start Using the JDBC Driver for Neo4j in 5 Minutes" to be installed in KNIME.

In KNIME:

File->Preferences->KNIME->Databases

Add File
Browse the directory where you downloaded or installed the .jar file.

With this procedure

[2019-01-22 12:52] pradipborde opened #181 "Giving exception if Labels contains space"
I am getting below error for any syntax error in any query. When looked into code issue seems with the way it is written without quotes in getDatabaseProperties(BoltNeo4jDatabaseMetaData.java:102) while spring jdbc tries to translate the error codes. Connection.getMetaData method always fails if any of the Label in db contains space.

2019-01-22 18:07:55.385 ERROR 11328 --- [nio-8043-exec-1] o.a.c

[2019-01-23 16:25] conker84 commented on #181
Hi @pradipborde and thanks a lot for reporting this.
Can you try with this jar, and give us feedback?
[neo4j-jdbc-driver-3.3.1.jar.zip](https://github.com/neo4j-contrib/neo4j-jdbc/files/2788174/neo4j-jdbc-driver-3.3.1.jar.zip)

[2019-01-23 16:48] pradipborde commented on #181
@conker84
Thanks Andrea, This does work well with syntax errors. Can you update this patch on the GitHub repo and upload it on Maven.

[2019-01-24 09:11] albertodelazzari opened #183 "SQL to Cypher conversion"
Some query tools cannot handle Cypher and expect an SQL statement to pass thru the JDBC connection. Therefor a SQL to Cypher connversion would be helpful. This should support at least simple SQL statements where tables, columns, joins and where clauses are converted to a Cypher/Neo4j equivalent.

It comes from the old Larus project

See also [the original issue](https://github.com/larusba/neo4j-jd

[2019-01-30 12:58] kaniika31 commented on #133
I am using
CALL apoc.load.jdbc('jdbc:oracle://localhost:1521/oracle?user=sys&password=oracle@123','select * from artists') YIELD row
CREATE (n:artists {name:row.title})

to connect my neo4j database to Oracle database but getting below error 👍

Neo.ClientError.Procedure.ProcedureCallFailed: Failed to invoke procedure `apoc.load.jdbc`: Caused by: java.sql.SQLException: No suitable driver found for

[2019-01-30 15:53] inserpio commented on #133
Hi @kaniika31, `apoc.load.jdbc` isn't part of this project, but the https://github.com/neo4j-contrib/neo4j-apoc-procedures one. Please refer to it.
Best,
Lorenzo

[2019-01-30 19:50] jexp commented on #133
@kaniika31 please raise the issue in the https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues

you  most likely forgot to supply the oracle driver jar, please read the docs!!!

[2019-02-01 14:08] jexp opened #184 "don't fail with an error on unknown jdbc URLs, e.g. from other drivers"
see:
https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1061#issuecomment-459390972

[2019-02-01 16:51] AngeloBusato commented on #179
Hi @tusharranjan2904, we did some tests and updated the driver. You can try with this new one and give us a feedback if the issue is solved.

[neo4j-jdbc-driver-3.4.0.jar.zip](https://github.com/neo4j-contrib/neo4j-jdbc/files/2822500/neo4j-jdbc-driver-3.4.0.jar.zip)

[2019-02-11 14:11] conker84 opened #185 "Add relationships as table metadata?"
Currently we only have that the nodes are mapped as tables in the metadata information, but I think we should also consider adding this kind of information as well.

Let's discuss.

[2019-02-25 09:17] conker84 commented on #179
Hi @tusharranjan2904 any feedback about the jar provided by @AngeloBusato ?

[2019-03-04 17:23] matthewbluezyoncom opened #187 "Intellj Datasource browser Method supportsSavepoints in class org.neo4j.jdbc.Neo4jDatabaseMetaData is not yet implemented."
I am getting this error using v3.4.0 of the driver (org.neo4j.jdbc.Driver) using both http and bolt protocols.

`Method supportsSavepoints in class org.neo4j.jdbc.Neo4jDatabaseMetaData is not yet implemented.`

I am using a neo4j cloud sandbox.

[2019-03-04 17:24] matthewbluezyoncom commented on #185
+1

[2019-03-05 06:46] eingmarra opened #188 "Why neo4j-jdbc-http driver request two times"
Sorry for my poor English.
I use wireshark and get http request as follow:

POST /db/data/transaction/commit HTTP/1.1
 Accept: application/json; charset=UTF-8
X-Stream: true
Content-Length: 734
Content-Type: application/json; charset=UTF-8
Host: 150.138.123.72:17474
Connection: Keep-Alive
User-Agent: Neo4j JDBC Driver
Accept-Encoding: gzip,deflate

{"statements":[{"statement":"Optional MATCH (u1:U

[2019-03-05 09:39] jexp commented on #188
Please share the code you’re using

[2019-03-06 01:44] eingmarra commented on #188
i coding a very simple example as follows:

[code]

[2019-03-06 01:49] eingmarra commented on #188
![default](https://user-images.githubusercontent.com/43944755/53850080-0a120000-3ff5-11e9-9245-4816af740f8d.png)

[2019-03-06 01:55] eingmarra commented on #188
the **Authorization** header of first request is missing, so it respond "**HTTP1.1 401 Unauthorized**":
![default](https://user-images.githubusercontent.com/43944755/53850185-52c9b900-3ff5-11e9-83c8-ccd26b282d34.png)

[2019-03-06 03:21] zhoumo01 opened #189 "create multi label from jdbc"
i try to creat multi label entity from neo4j-jdbc, with this clause:
[code]

but  in neo4j , the entity is not create with multi label， but a label with CourseSource:Module， and i cannot match entity with cypyher:
[code]
they return none because the clause is for multi label match , is there any method to match the entity?

or

the label  has a  ":" should be forbidden cause it's conflict with Cyp

[2019-03-06 08:14] conker84 commented on #189
Hi @zhoumo01 ,
try with:
[code]

[2019-03-06 09:20] conker84 commented on #188
@eingmarra are you using the version `3.0.0`?

[2019-03-07 01:45] eingmarra commented on #188
yes, my jdbc-dirver version is 3.0.0

[code]

[2019-03-11 14:16] dgordon5483 commented on #179
@conker84 @AngeloBusato I have received confirmation that @tusharranjan2904 and team has tested this and it resolves the issue, thanks! Can you please merge and release a new version of the JDBC driver at your convenience? Thanks!

[2019-03-12 06:11] eingmarra commented on #188
I have tried 3.3.1 and 3.4.0 neo4j-jdbc-driver, but the problem is not solved.

I changed my pom.xml and get the driver from github as follows:
[code]

[2019-03-12 11:09] conker84 commented on #189
Hi @zhoumo01 any feedback?

[2019-03-12 11:50] conker84 commented on #188
Hi @eingmarra and thanks for the catch!
Can you try to use this fix?
https://jitpack.io/#conker84/neo4j-jdbc/issue_188-SNAPSHOT
Looking forward to your feedback!

[2019-03-13 08:56] eingmarra commented on #188
I have tried it again, but it seems not be fixed. Hope your next fix version.   :-)

![图片](https://user-images.githubusercontent.com/43944755/54265234-cba9b180-45af-11e9-8da2-22e5f0939ca6.png)
![图片](https://user-images.githubusercontent.com/43944755/54265416-34912980-45b0-11e9-868e-bb7a0130bb9b.png)

[2019-03-13 18:02] conker84 commented on #188
That's wired looking at the image seems you downloaded the v 3.0.1 which is an old one (not fixed).
Please try with the attached jar.

[neo4j-jdbc-driver-3.4.0.jar.zip](https://github.com/neo4j-contrib/neo4j-jdbc/files/2962947/neo4j-jdbc-driver-3.4.0.jar.zip)

[2019-03-14 01:59] eingmarra commented on #188
I've download the v3.4.0-driver which is from the link you give. And maven it as local jar file:
![图片](https://user-images.githubusercontent.com/43944755/54325803-00187e80-463f-11e9-802a-4244232005a8.png)

![图片](https://user-images.githubusercontent.com/43944755/54325682-82547300-463e-11e9-9cfa-e936faccd319.png)

But the problem is still there (**the Authorization header is missing**):
![图片](https

[2019-03-14 08:47] conker84 commented on #188
Please, can you share your sample project?

[2019-03-14 13:58] #179 closed, assigned to nobody

[2019-03-15 06:05] eingmarra commented on #188
Hi , i am very sorry!
I found I've made a big mistake yesterday. I maven it with my as local jar file, but eclipse seems to not clean absolutely, it still use the neo4j-jdbc-driver from remote site (I found it this morning).

So i recreate a **new** project, and test my code with the jar file you give me. It works !!!!

![图片](https://user-images.githubusercontent.com/43944755/54411564-d177d200-472

[2019-03-15 06:47] eingmarra commented on #188
By the way, the 3.4.0 driver on https://jitpack.io seems not fix this problem.
[code]

[2019-03-18 08:45] conker84 commented on #189
I'm closing this as it seems not a bug.

[2019-03-18 08:45] #189 closed, assigned to nobody

[2019-03-19 09:53] conker84 commented on #188
Closed via a4b6b47

[2019-03-19 09:53] #188 closed, assigned to nobody

[2019-03-19 09:54] conker84 opened #193 "Add support for callable statements"
Add support for callable statements

[2019-03-19 09:55] conker84 opened #194 "Neo4jDatabaseMetaData#getIndexInfo should return the indexes of the label"
Neo4jDatabaseMetaData#getIndexInfo should return the indexes of the label

[2019-03-19 09:55] conker84 opened #195 "implement Neo4jDatabaseMetaData#getFunctions & Neo4jDatabaseMetaData#getFunctionColumns"
Neo4jDatabaseMetaData#getFunctions should return the available functions
Neo4jDatabaseMetaData#getFunctionColumns should return the function columns

[2019-03-19 09:56] conker84 opened #196 "implement Neo4jDatabaseMetaData#getProcedures & Neo4jDatabaseMetaData#getProcedureColumns"
Neo4jDatabaseMetaData#getProcedures method now return an empty result set, should return the available procedures
Neo4jDatabaseMetaData#getProcedureColumns should return the function columns

[2019-03-21 09:08] conker84 commented on #181
Closed via 641c16b1170e65a72d4600a1548dcb7bd77f0d51

[2019-03-21 09:08] #181 closed, assigned to conker84

[2019-03-21 09:09] conker84 commented on #180
@crazyyanchao do you still have problems oh that?

[2019-03-21 09:52] crazyyanchao commented on #180
@conker84 I did some processing,it work.But it's still error when the node property value is JSON.So I try not to save JSON as an attribute.
[code]

[2019-03-21 13:11] conker84 commented on #180
I think that you should change your business logic because Neo4j does not support maps as nested property.
Now you have two options:
- if your json has a "flat structure" without nested objects you can flat it as node properties with a prefix key:
so if your json is
[code]
you can save node properties like:
[code]
- otherwise implement your json as a tree structure => so the property "返回数据时错误的" be

[2019-03-21 13:11] #180 closed, assigned to omarlarus

[2019-03-21 13:13] conker84 commented on #174
hi @diannao720 do you still have the problem?

[2019-03-21 13:15] conker84 commented on #152
I'm closing this since this is not a real issue.

[2019-03-21 13:15] #152 closed, assigned to nobody

[2019-03-21 13:16] conker84 commented on #150
I'm closing this since this is not a real issue. Feel free to reopen it

[2019-03-21 13:16] #150 closed, assigned to nobody

[2019-03-21 13:18] conker84 commented on #139
Closed via 6269801

[2019-03-21 13:18] #139 closed, assigned to inserpio

[2019-03-21 13:20] conker84 commented on #135
hi @dangalvinSF any feedback about our suggestion?

[2019-03-21 13:29] conker84 commented on #105
I'm closing this since seems not a real bug. Feel free to reopen it in case of an update.

[2019-03-21 13:29] #105 closed, assigned to nobody

[2019-03-22 18:46] dangalvinSF commented on #135
Sorry I missed this.  I will try it.  It will take me some time, as I really just gave you a mock.  The real model is substantial.  Thanks for your suggestion!

[2019-03-26 10:08] #187 closed, assigned to nobody

[2019-03-26 11:26] conker84 opened #197 "Remove unsupported operation exeception from driver, resultset, statement and connection"
In order to make the jdbc driver more lenient we should remove (were is possible) the `UnsupportedOperationException` from:

- [ ] Driver
- [ ] Resultset
- [ ] Statement
- [ ] Connection

[2019-04-01 03:51] #194 closed, assigned to nobody

[2019-04-03 13:20] #176 closed, assigned to omarlarus

[2019-04-03 13:26] #175 closed, assigned to omarlarus

[2019-04-09 03:02] diannao720 commented on #174
Yes， I've given up

[2019-04-11 09:23] conker84 commented on #184
The referenced bug has been fixed by #113 in branch (v `3.4`). The guy in the APOC issue used v. `3.1.0`
I made a test with the following compose file:
https://gist.github.com/conker84/78495f3e7b27842860363a9a2eaf7d89
I create a `test` db with a table `prova` with 2 records
<img width="1554" alt="Schermata 2019-04-11 alle 11 19 19" src="https://user-images.githubusercontent.com/1833335/55945786-c4

[2019-04-12 10:36] #184 closed, assigned to conker84

[2019-05-03 09:32] oyvindwe opened #200 "JDBC URL parameters with '&' and ',' fails"
We discovered this when running [Liquigraph](https://www.liquigraph.org/) against Neo4j, with a user that had `&` in the password. Liquigraph builds a JDBC URL with username and password as parameters (using `,` as parameter separator). We first believed the problem was caused by Liquigraph not URL encoding username and password when building the JDBC string, but URL encoding the password before p

[2019-05-03 14:42] #197 closed, assigned to conker84

[2019-05-08 09:06] longtong99 opened #202 "where is neo4j-jdbc-driver source code"
maven repository doesn't have source code for
<dependency>
			<groupId>org.neo4j</groupId>
			<artifactId>neo4j-jdbc-driver</artifactId>
			<version>3.1.0</version>
		</dependency>
it only has one class

[2019-05-08 09:26] jexp commented on #202
exactly here in this repository :)

[2019-05-08 09:26] #202 closed, assigned to nobody

[2019-05-08 09:27] longtong99 commented on #202
i want see all source code,but only give me one class @jexp

[2019-05-27 14:46] kamathsachin7 opened #203 "Slowness observed in obtaining connection using neo4j java jdbc driver"
Hi All,

I have my java application deployed in websphere application server. I am successfully able to connect to neo4j from my java application using jdbc driver. But there are some performance issues with the approach i have followed. Currently neo4j server is running on Xms - 8G and Xmx-16GB. I have only less amount of data that is aprox 40mb with 3100 nodes. When we test the performance over

[2019-05-27 21:04] jexp commented on #203
Which version do you use?

What happens if you reuse the same driver or connection?

[2019-05-28 07:45] kamathsachin7 commented on #203
@jexp Im using neo4j version 3.3.9 with neo4j driver 3.3.1.

Here for every transaction the connection is opened and closed which is causing the slowness.

As of now it looks like i the issue is due to the connection pool not being set.

Im trying to create data source for neo4j in websphere application server but its failing to connect. Any pointers on this would be helpful.

JDBC Driver Created

[2019-05-28 12:02] kamathsachin7 commented on #203
@jexp Got to know from the other forum that Websphere doesnt support to create datasource for neo4j.

https://stackoverflow.com/questions/56336920/error-when-creation-data-source-for-neo4j-in-websphere-application-server

Can you please help me on how we can achieve connection pooling ?

[2019-06-13 06:39] liukeqing commented on #133
this works to me,thank you.

[2019-08-02 21:30] juliaglen opened #205 "noe4j jdbc Siren.io and Windows"
I am running Neo4J on Windows in AWS. I want to use siren.io. However, I get the error when testing the connection using
jdbc::neo4j:http://localhost:11002
and
jdbc::neo4j:http://localhost:7474

Any suggestions?

Thanks

[2019-08-03 10:20] jexp commented on #205
Which error are you getting?

Doesn’t siren support neo4j out of the box via the bolt driver?

[2019-08-03 16:22] juliaglen commented on #205
This is the error I am getting.

Could not validate datasource [MVP]. {“error”:{“root_cause”:[{“type”:“exception”,“reason”:“Could not validate datasource [MVP].”}],“type”:“exception”,“reason”:“Could not validate datasource [MVP].”,“caused_by”:{“type”:“s_q_l_transient_connection_exception”,“reason”:“MVP-pool - Connection is not available, request timed out after 30072ms.”}},“status”:500}

https://c

[2019-08-20 08:58] jpfss opened #206 "Method setBigDecimal in class org.neo4j.jdbc.Neo4jPreparedStatement is not yet implemented"
I use the Mybatis with the ORM framework and the maven information as follows :
[code]
   The type of the property of the entity is "Bigdecimal" and the type of mybatis is "decimal".When I use the "merge" to create node ，It's happend some problem as follows:

[code]

 It seems that the driver is not support the data type of "Bigdecimal" .IS the version of "2.x" supprot it?

[2019-08-20 21:04] VincentBlouin opened #207 "Direct file connection"
Hello, in version 2.x, I used to connect using "jdbc:neo4j:instance:{database_name}"  using what I think is "direct file connection". Is this implemented in 3.x yet ? If not do you have an idea of when it would be?

Thank you.

I fear that if I were to use bolt that the performance would be significantly impacted unless I were to migrate a lot of my queries in procedures is that right ?

Also how

[2019-08-21 09:20] jexp commented on #205
Which JAR did you use?

And can you try the bolt URL instead?

[2019-08-21 09:21] jexp commented on #205
Did the answers from the other siren folks help you?

[2019-08-21 09:28] jexp commented on #203
The Neo4j Driver that the JDBC driver wraps pools connections internally.
There should be no need to created individual connections.

Can you see if this build helps you, it includes a change that reuses driver objects by settings/url.

https://www.dropbox.com/s/7w8ad2ln5dz41od/neo4j-jdbc-driver-3.4.0.jar?dl=0

[2019-08-21 09:29] jexp commented on #206
Hi,

I think the current codebase already contains that change. Could you test this build and see if it helps, then we could do a release with the changes

https://www.dropbox.com/s/7w8ad2ln5dz41od/neo4j-jdbc-driver-3.4.0.jar?dl=0

[2019-08-28 09:18] jexp commented on #103
@ch-ricardor sorry for the late reply, this is really awesome,
would you be able to add your issue comment to our docs on testing the connector with different tools in a PR?

see here: https://github.com/neo4j-contrib/neo4j-jdbc/tree/3.4/docs

[2019-09-26 09:37] michael-simons opened #208 "Neo4j-JDBC doesn't work with neo4j-java-driver 4.0+"
Due to various changes in both packages and API, Neo4j-JDBC won't work with the upcoming Bolt-Driver.

There is no easy / possible way to have both on the class path (1.7.x and 4.x), so there's a need for an updated JDBC driver.

[2019-09-26 11:22] jexp commented on #208
Separate release/branch

updates similar to: https://github.com/neo4j/neo4j-ogm/commit/0abfefb2b5bacc291a230a111fe2ad21974ede0f

[2019-09-27 12:19] teuno opened #209 "neo4j-jdbc-bolt 3.4.0 via Maven different then in this repo"
I am trying to use the neo4j-jdbc-bolt 3.4.0 driver in my project, but the code that gets pulled in form Maven is different then the code on the 3.4.0 project here. Is that correct?

I get the message: "Method supportsBatchUpdates in class org.neo4j.jdbc.Neo4jDatabaseMetaData is not yet implemented.", but in this repo it is (in 3.3.0 it isn't).

[2019-09-30 09:29] teuno commented on #209
apparently tags 3.4.0 is different from branch 3.4.0

[2019-09-30 09:29] #209 closed, assigned to nobody

[2019-10-03 13:54] jexp commented on #206
ping @jpfss

[2019-10-07 07:52] jpfss commented on #206
Oh，Sorry，I use the jdbc-driver's version is （I write wrong with some thing and I have edit it）:
[code]
It is same to your new version.

[2019-10-07 08:41] jpfss commented on #206
I have tried the jar with link "https://www.dropbox.com/s/7w8ad2ln5dz41od/neo4j-jdbc-driver-3.4.0.jar?dl=0" to replace the original jar,It happens as follows:
[code]
The problem is seem to happen.

[2019-10-10 06:04] fbiville opened #211 "Instantiate a JDBC Connection with a GraphDatabaseService instance"
To give a bit more context, I would like to publish a few Cypher extensions for Liquigraph so users can interact with the migration graph in the browser.

Implementing these extensions is theoretically straightforward, the logic is already implemented in Liquigraph core.

However, reusing that logic is quite a challenge at the moment because Liquigraph core relies on the JDBC API to execute querie

[2019-11-18 17:00] sey opened #212 "Native connection pooling"
I'm using MyBatis with Spring in 2 different projects.
One uses the 3.3.1 JDBC Bolt driver and the other uses the 3.4.0 JDBC Bolt driver.
The nice addition coming from 3.4.0 is that it will support LocalDateTime for instance.

With the later one I get a lot of logs like the following (for every request almost)
[code]
It feels like the underlying connection pool of Neo4j is never used (every connec

[2019-11-18 18:01] sey commented on #212
Investigating a bit further, I think the `BoltNeo4jConnectionImpl` should not be responsible for closing the driver.

Doing this quick and dirty fix, I have no performance issues.
[code]

How to close the driver when the app terminates needs to be discussed if this is the way to go.

[2019-11-27 09:51] ctytgat commented on #208
Any idea when this would be available?
This is actually blocking anyone wishing to upgrade to spring boot 2.2 + OGM 3.2.2 ... :-/
(OGM 3.2.2 depends on neo4j-java-driver 4.0.0-beta02)

[2019-12-19 10:19] owaincole opened #213 "3.4.0 jdbc driver lacks ability to pass multiple bookmarks to initial session"
The java drivers support passing of  a collection of bookmarks to the initial session, in order to enable a new session being sychronised with multiple other sessions.
Indeed, the example in the docs uses this funcationality ( https://neo4j.com/docs/developer-manual/3.4/drivers/sessions-transactions/ )

However the jdbc driver only supports a single bookmark. This means we cannot synchronize the o

[2019-12-26 09:49] BrookShiwenge opened #214 "I can't get all properties of node by method ResultSetMetaData.metaData"
case sql:MATCH (tom {name: \"Tom Hanks\"}) RETURN  EXTRACT(key IN keys(tom) )

espect:
born
name

actual:EXTRACT(key IN keys(tom) )

[2019-12-26 11:17] jexp commented on #214
Try to just

return keys(node) as keys

[2020-01-14 11:41] #213 closed, assigned to nobody

[2020-01-14 12:43] conker84 commented on #213
[neo4j-jdbc-driver-3.4.0.jar.zip](https://github.com/neo4j-contrib/neo4j-jdbc/files/4059144/neo4j-jdbc-driver-3.4.0.jar.zip)
Hi @owaincole can you test the jar above? Please refer to the following snippet to understand how you can do it:

https://github.com/neo4j-contrib/neo4j-jdbc/blob/08e78b5ccf0148f6b34f526159b56361595212e6/neo4j-jdbc-bolt/src/test/java/org/neo4j/jdbc/boltrouting/BoltRoutingIT.

[2020-01-14 14:06] owaincole commented on #213
Thanks, it certainly looks like it should work from the classes.
We had held back utilizing the read-only nodes in the cluster until now, but I think that's the final hurdle cleared to allow us to start on that element of the development.
We'll begin testing now.

[2020-02-20 05:09] Ram2929 opened #216 "Neo4j-jdbc-driver issue - All the requests are routed to "LEADER” in the cluster group"
We were using neo4j JDBC driver (neo4j-jdbc-driver-3.4.0.jar) which is capable for using BOLT+ROUTING protocol, and trying to connect from NO-SQL(Apache Solr) to pull data from Neo4J to Solr.

We do not have solr source code, we did the data source configuration in EAP where Solr is installed and using the JNDI, Solr is connecting to Neo4J to fetch data.

While doing so, we see all the requests ar

[2020-02-21 13:31] jexp commented on #216
you need to use read-only connections to be routed to other cluster members

not sure if that's exposed through config as well or just in the java sql Connection API @conker84

[2020-03-09 17:49] rhaces opened #218 "Enable Read Only property via connection string"
Currently, to mark a transaction as read only and have the driver distribute it to read members of the cluster, you need to use the method `setReadOnly` method (`connection.setReadOnly(true);`). However this is only accessible via code, if you are using a 3rd party client and don't have access to the code, there is no way to do this, making all calls go to the LEADER.

Enable a way to tell the jdb

[2020-03-09 22:34] conker84 commented on #218
Hi @rhaces can you test the following jar?
You should be able to pass the readOnly flag in this way:

`jdbc:neo4j:bolt://localhost?readOnly=true`

[neo4j-jdbc-driver-3.4.0.jar.zip](https://github.com/neo4j-contrib/neo4j-jdbc/files/4309231/neo4j-jdbc-driver-3.4.0.jar.zip)

[2020-03-12 13:58] rhaces commented on #218
After testing the attached driver with SquirrelSQL, I don't see that the flag is working, I'm setting up SquirrelSQL as shown below and I can still send a "CREATE" cypher, where if the readTransaction is correctly being used, the cypher would fail.

Class Name: `org.neo4j.jdbc.Driver` and `org.neo4j.jdbc.boltrouting.BoltRoutingNeo4jDriver`
URL: `jdbc:neo4j:bolt+routing://localhost:7627?readOnly=tr

[2020-03-12 18:22] fbiville commented on #200
Is there a reason this issue is still open?

[2020-03-12 19:30] oyvindwe commented on #200
Probably not, as the fix is merged. There hasn't been a release in a long time though.

[2020-03-12 19:30] #200 closed, assigned to nobody

[2020-03-13 10:52] ctytgat commented on #208
@conker84 Any idea when we could expect a release with the new driver?

[2020-03-13 17:58] conker84 commented on #208
@ctytgat the next week we'll do a beta release

[2020-03-19 18:21] jexp opened #220 "Fix Javadoc build step with Java 11"
[code]

[2020-03-19 18:22] rhaces commented on #218
After doing some additional debug, the issue is that we are calling the variable `readOnly` however the `getProperties()` for some reason brings the properties all lowercased, not sure if this is a JDBC standard or something else. See the two attached screenshots, notice how in the first one `readOnly=false` and when I evaluate `getProperties` I see  (second screenshot) `readonly=true`
![Screensho

[2020-03-20 13:13] p0pfan opened #221 "Issue about BoltDriver"
Hi guys, this is an issue about using Neo4j JDBC Driver.
the Neo4j JDBC Driver version is `3.4.0`
the Neo4j Server version : `neo4j-community-3.5.8`

1. the method to get connection
[code]
2. the executeQuery method
[code]

### BoltDriver Exception
[code]

the exception is

[code]

---

BTW, I have uploaded the test file to  replicate the issue

[test.zip](https://github.com/neo4j-contrib/neo4j-jd

[2020-03-20 13:17] jexp commented on #221
Could you please split two issues into two isssue.

In general, please use the neo4j-java-driver for programmatic usage not the jdbc driver.
The JDBC driver is more meant for tools and integrations.

[2020-03-20 13:23] p0pfan opened #222 "Issue about HttpDriver"
Hi guys, this is an issue about using Neo4j JDBC Driver.
the Neo4j JDBC Driver version is `3.4.0`
the Neo4j Server version : `neo4j-community-3.5.8`

1. the method to get connection
[code]
2. the executeQuery method
[code]

### HttpDriver Exception
when I run a update cypher
[code]

 it will throw an Exception, like this
[code]

[test.zip](https://github.com/neo4j-contrib/neo4j-jdbc/files/4359685/

[2020-03-20 13:24] p0pfan commented on #221
I have  split two into two issue.
another is here: https://github.com/neo4j-contrib/neo4j-jdbc/issues/222

[2020-03-20 14:19] conker84 commented on #221
You should create a Connection instance in this way:

`DriverManager.getConnection("jdbc:neo4j:bolt://localhost:7687", "neo4j", "foo")` in each thread, we

have an internal caching mechanism that reuse the same`Driver` instance an create a new `Session` for each thread

[2020-03-20 14:21] conker84 commented on #222
Please create a new Connection instance via:

`DriverManager.getConnection("jdbc:neo4j:http://localhost:7474", "neo4j", "foo")`

[2020-03-20 14:22] conker84 commented on #222
Following an example:

[jdbc.zip](https://github.com/neo4j-contrib/neo4j-jdbc/files/4360063/jdbc.zip)

[2020-03-23 15:41] p0pfan commented on #221
@jexp @conker84 thank you for your reply. And both solutions work for me.

[2020-03-23 15:41] #221 closed, assigned to nobody

[2020-03-23 15:41] p0pfan commented on #222
@conker84 thank you for your reply. And it works for me.

[2020-03-23 15:41] #222 closed, assigned to nobody

[2020-03-24 14:21] conker84 opened #224 "Restore Cluster Test"
Restore Cluster Test

[2020-04-30 15:57] fbiville opened #225 "[Bolt Driver 4.0.0] Driver hangs if connection URI is not reachable"
This has first been reported [here](https://github.com/liquigraph/liquigraph/issues/375).
Here is a minimal snippet to reproduce the issue (provided the Neo4j JDBC Bolt driver 4.0.0 is in the classpath):

[code]

I expect this program to run to completion. It just hangs instead.

[2020-05-01 15:57] jexp commented on #225
Could you reproduce it with the plain bolt driver too?

[2020-05-04 12:16] fbiville commented on #225
I can reproduce the failure but the VM properly terminates (note I had to send a query otherwise the program would not crash):

[code]
Here are the logs in that case:
[code]

[2020-05-05 09:22] fbiville opened #226 "[4.0] Build fails with a JDK 8"
Although the build claims to require [only a JDK 8](https://github.com/neo4j-contrib/neo4j-jdbc/blob/03886f20976c6ab1f2379dab6cec2d6b4ea96fcf/pom.xml#L78), it fails with such:

[code]

No issue with a JDK 11.

[2020-05-05 16:30] fbiville opened #227 "[4.0] Support database configuration for HTTP driver"
Happy to send a PR.

[2020-05-18 14:30] #227 closed, assigned to nobody

[2020-05-25 09:33] #218 closed, assigned to nobody

[2020-05-25 09:33] #208 closed, assigned to conker84

[2020-06-04 22:45] ckazz opened #229 "Make using bookmark configurable via connection URL property"
To make using bookmarks optional by making it configurable via connection URL property.

[2020-06-04 23:49] jexp commented on #229
@conker84 for a customer

[2020-06-05 09:38] conker84 commented on #229
Hi @ckazz can you please try the following jar:
[neo4j-jdbc-driver-4.0.0.jar.zip](https://github.com/neo4j-contrib/neo4j-jdbc/files/4735367/neo4j-jdbc-driver-4.0.0.jar.zip)

You can use it in the following way:

`jdbc:neo4j:bolt://localhost?usebookmarks=false`

[2020-06-05 10:21] conker84 commented on #229
@ckazz please check the md5  of the file ` c372058e230ff2547253afc3d6eca267`

[2020-06-05 16:34] ckazz commented on #229
Thank you @conker84
Forwarding to user and will update once they have tested.

[2020-06-09 13:46] #229 closed, assigned to conker84

[2020-06-10 23:19] stuartn60 opened #232 "4.0.0 Query failed to load relationship with unknown source-node id"
Query below fails with the error:
`JDBC::error: org.neo4j.driver.exceptions.ClientException: Failed to invoke procedure `gds.graph.create.cypher`: Caused by: java.lang.IllegalStateException: Failed to load relationship with unknown source-node id 61.`
The two sub queries work fine with JDBC.
The query is:
`CALL gds.graph.create.cypher('undirected_interactions',
	//node Query
    'MATCH (n:Person)

[2020-06-11 10:59] codejie opened #233 "getNetworkTimeout in class org.neo4j.jdbc.impl.Neo4jConnectionImpl is not yet implemented"
2020-06-11 18:57:10.595 |-INFO  [JRESHandler-192.168.122.232:59873-thread-17] com.zaxxer.hikari.pool.PoolBase [] -| HikariPool-2 - Driver does not support get/set network timeout for connections. (Method getNetworkTimeout in class org.neo4j.jdbc.impl.Neo4jConnectionImpl is not yet implemented.)

----- Maven Configuration
    <dependencies>
        <dependency>
            <groupId>org.mybatis.spri

[2020-06-11 14:23] stuartn60 commented on #232
The issue was with the Relationship query, which needs to be a UNION query of n:Person ... m:Person and n:Person ... m:Thing

[2020-06-11 14:23] #232 closed, assigned to nobody

[2020-06-11 16:01] rhaces opened #234 "Correctly implement method getSystemFunctions()"
In #167 the method getSystemFunctions() was implemented in `org.neo4j.jdbc.bolt.BoltNeo4jDatabaseMetaData` however this needs to be also implemented in `org.neo4j.jdbc.Neo4jDatabaseMetaData`

[2020-06-16 09:33] jexp opened #236 "Session Handling"
Consider a change like this for the future:

One Session per statement / transaction per "BoltJdbcConnection"

auto-commit true:

- for each statement: create session + transaction -> commit + close tx, close session

auto-commit false:

- on first statement: create session + transction
- on commit -> commit tx, close tx, close session

Currently we create one session per BoltJdbcConnection.

[2020-06-16 09:37] jexp commented on #236
Question: how do we deal with streaming results?

This would only happen after` resultset.close()` or at `statement.close()` after which the results can't be accessed anymore.

Other than in https://github.com/neo4j-contrib/neo4j-jdbc/pull/235
we should do this at the **end (close)** of an operation not at the beginning.

[2020-06-16 09:40] jexp commented on #216
We fixed that in recent version, if you pass readonly=true as config parameter to the URL it will _only_ use readonly sessions which should go to the followers and read-replicas.

If you don't have access to the JDBC con.setReadonly() API

[2020-06-16 09:41] #214 closed, assigned to nobody

[2020-06-16 09:42] jexp commented on #183
Handled by the BI Connector: https://neo4j.com/bi-connector/

[2020-06-16 09:42] #183 closed, assigned to nobody

[2020-06-16 09:44] jexp commented on #212
@conker84 can you investigate this?

https://github.com/neo4j-contrib/neo4j-jdbc/blob/3.5/neo4j-jdbc-bolt/src/main/java/org/neo4j/jdbc/bolt/impl/BoltNeo4jConnectionImpl.java#L264

[2020-06-28 14:15] Rtfsc-8 opened #238 "mybatis neo4j result is null"
neo4j: 4.0.4

pom.xml
[code]

bootstrap.yml
[code]

http.log:
[code]

mapping cypher:
[code]

mapper:
[code]

Test:
[code]

[2020-07-09 09:27] #236 closed, assigned to conker84

[2020-09-10 11:42] avgoustak opened #239 "getRowId in class org.neo4j.jdbc.Neo4jResultSet is not yet implemented"

[2020-10-01 16:07] fbiville opened #240 "[3.x] Bolt Driver query execution does not wrap invalid query's execution in SQLException"
While fixing an old bug in Liquigraph (i.e. setting the JDBC driver as a _runtime_ dependency instead of compile), I realized that [some of the code](https://github.com/liquibase/liquigraph/blob/f0b77ea57731373d8f4ea30343769d5818a84424/liquigraph-core/src/main/java/org/liquigraph/core/io/ConditionExecutor.java#L66) depended on the Java Driver `ClientException` instead of JDBC `SQLException`.

When

[2020-10-01 16:08] fbiville commented on #240
Liquigraph CI seems to indicate this concerns all released 3.x JDBC drivers (but not 4.x ones, they are fine).

[2020-11-05 12:31] #240 closed, assigned to nobody

[2020-11-05 12:37] #216 closed, assigned to nobody

[2020-11-09 17:40] fbiville opened #244 "[4.0] Migrate to Github Actions"

[2020-11-12 12:09] #124 closed, assigned to nobody

[2020-11-16 14:17] #226 closed, assigned to fbiville

[2020-11-16 16:03] fbiville opened #247 "[4.0] Reset `BoltDriverCache` between tests of BoltNeo4jDriverTest"
`org.neo4j.jdbc.bolt.BoltNeo4jDriverTest` currently works by coincidence and sometimes breaks.

For instance, `shouldNotRequireConfiguration` defines assertions in `Mockito.when(GraphDatabase.driver([...])).thenAnswer()` callback.
However, this callback **is sometimes not executed at all**, because `GraphDatabase.driver` is only called [when `org.neo4j.jdbc.bolt.cache.BoltDriverCache` does not hav

[2021-01-12 15:48] fbiville opened #248 "[4.x] BoltRoutingNeo4jDriver does not support `neo4j+s` and `neo4j+ssc`"
This is from a Liquigraph example, using Hikari pool:
[code]

Same happens with `neo4j+ssc`.

I need to double check, but I think the `trust.strategy*` and `encryption` need to be **not** used when using any of the `neo4j` scheme.

[2021-01-12 15:52] fbiville opened #249 "[4.x] BoltDriver does not support `bolt+s` and `bolt+ssc`"
This is from a Liquigraph example, using Hikari pool:
[code]

Same happens with `bolt+ssc`.

I need to double check, but I think the `trust.strategy*` and `encryption` need to be **not** used when using any of the `neo4j` scheme.

[2021-01-14 09:38] #244 closed, assigned to nobody

[2021-01-27 09:36] #225 closed, assigned to fbiville

[2021-02-10 15:56] fbiville commented on #247
Fixed via https://github.com/neo4j-contrib/neo4j-jdbc/commit/5f2454115e4fdf68f68e3926b0ec93ece3849f7f

[2021-02-10 15:56] #247 closed, assigned to fbiville

[2021-02-10 17:21] fbiville commented on #239
Hi @avgoustak, thanks for the report.
I looked at the JDBC drivers of MySQL, MSSQL and Postgres for inspiration, and they do not support that feature either.

Can you share how you got that error? Are you using a specific tool? Thanks in advance!

[2021-02-11 20:39] dbapundit opened #254 "Does this Driver work with Apache Nifi"
If so, can you provide an example of this working using these products? Thanks

[2021-02-23 13:51] conker84 opened #255 "Move every session.run into tx-functions"
That help Aura users willing to use JDBC

[2021-02-23 14:21] conker84 commented on #135
@dangalvinSF I'm closing this, feel free to reopen in case you have new info

[2021-02-23 14:21] #135 closed, assigned to inserpio, omarlarus

[2021-02-23 14:58] #234 closed, assigned to fbiville

[2021-02-23 17:23] fbiville opened #258 "[3.5] Time-sensitive driver loading issue"
This currently prevents 3.5 from being released.

`BoltNeo4jAuthenticationIT.shouldAuthenticateUserUsername` fails with:
[code]

Interesting fact: this is the **first** Bolt-related executed test relying on the automatic driver loading via `java.sql.DriverManager.getConnection`.

[2021-02-25 11:42] #258 closed, assigned to fbiville

[2021-03-16 11:09] pratikm23 opened #260 "PreparedStatement issue with jdbc driver 4 with neo4j 4"
Hi ,
I understand that neo4j 4.x now does not support params with such syntax - {1} and now supports $param. Has the syntax to execute preparedStatement also changed. What I mean by this is - when i try to execute query such as :
[code]

I get this error - **ParameterIndex does not correspond to a parameter marker in the SQL statement**

Hence is the syntax of {1} in prepared statement query with

[2021-03-24 15:33] #255 closed, assigned to fbiville

[2021-07-16 08:31] conker84 opened #268 "Add a retry mechanism like Spring Data and OGM"
Add a retry mechanism like Spring Data and OGM:

https://github.com/spring-projects/spring-data-neo4j/blob/main/src/main/java/org/springframework/data/neo4j/core/support/RetryExceptionPredicate.java

[2021-07-22 13:28] #249 closed, assigned to nobody

[2021-07-22 13:32] #268 closed, assigned to nobody

[2021-07-23 12:18] conker84 opened #270 "Manage `Statement#getMoreResults` properly"
Based on its official JavaDoc:

With @fbiville we decided to do that in this way:

* first call of getMoreResults returns true since the result is a RS, and this RS will then be closed
* second call of getMoreResults returns false since there is no current RS anymore (OR we check RS is closed)

This bug came out from https://github.com/liquibase/liquibase-neo4j/issues/14

[2021-07-23 12:20] fbiville commented on #270
For reference, the current implementation of `getMoreResults` (for Bolt) causes the execution of Cypher queries with `RETURN` clauses to hang forever when running in Liquibase (see detailed comment [here](https://github.com/liquibase/liquibase-neo4j/issues/14#issuecomment-885528077)).

[2021-07-23 13:01] #270 closed, assigned to nobody

[2021-07-26 09:32] fbiville opened #272 "Improve RETURN clause detection"
`BoltNeo4jStatement` currently performs [a naive string match](https://github.com/neo4j-contrib/neo4j-jdbc/blob/6b79aa5a88936e7f7fab82fef86d531a07edad6c/neo4j-jdbc-bolt/src/main/java/org/neo4j/jdbc/bolt/BoltNeo4jStatement.java#L107) to detect whether a query returns a result or not.

As discussed [here](https://github.com/liquibase/liquibase-neo4j/issues/14#issuecomment-885937348), this can create

[2021-07-26 12:43] conker84 commented on #272
I think that we can leverage the `EmptyResult` operator returned from the plan. If is present, the query will not return any result

[2021-07-27 14:46] #272 closed, assigned to nobody

[2021-08-02 14:22] fbiville commented on #248
Fixed by https://github.com/neo4j-contrib/neo4j-jdbc/commit/255a55f3dfac15bca06cc172173a372081e1f534

[2021-08-02 14:22] #248 closed, assigned to nobody

[2021-08-04 09:35] paolodedo commented on #248
Hello, tried with release 4.0.2 but still not working...

Here's pom (only neo4j part, spring boot parent is 2.4.1):

[code]

Here's config:

[code]

Here's output:

`java.sql.SQLException: java.lang.IllegalArgumentException: Illegal URI scheme, expected 'neo4j' in 'neo4j+s://neo4j-instance.com'
`

Could you please explain me how to make it work?

Thanks 💯

[2021-09-08 20:04] fbiville commented on #173
`4.0` branch supports Neo4j from 3.5 to 4.3.

[2021-09-08 20:04] #173 closed, assigned to conker84

[2021-09-08 20:04] fbiville commented on #89
3.5 is the active LTS version, 2.x should not be used by anyone.

[2021-09-08 20:04] #89 closed, assigned to nobody

[2021-09-09 09:56] fbiville commented on #260
Can you try with `$1` instead of `{1}`?

[2021-09-10 14:10] baptistegh commented on #260
I had the same issues.
I tried with $1 and it worked but I'm working with a software which uses "{1}" and I cannot change that. I only have issues with that version of the Neo4j jdbc driver.

[2021-09-13 12:47] fbiville commented on #260
@baptistegh can you provide more details about your setup?

`{param}` will not work with 4.x Neo4j servers, only `$param` will.

You either have to:
1. downgrade the JDBC driver and Neo4j server
2. or upgrade the software responsible for creating the Cypher queries.

If you choose option 1, please be aware that only 3.5 is supported in the 3.x series, and [it will reach end of life soon](https://n

[2021-09-13 15:55] fbiville opened #286 "Driver may not close properly when running multiple sessions"
Currently, `org.neo4j.jdbc.bolt.cache.BoltDriverCached` keeps track of the number of sessions the underlying Java driver opens.
Upon closure, `org.neo4j.jdbc.bolt.cache.BoltDriverCached` prevents its own eviction from the driver cache and the underlying Java driver closure if there are any open sessions.

However, the problem is that the counter is never decremented when a session closes. As soon

[2021-09-16 17:51] fbiville opened #288 "Update GitHub pages contents"
This has not been updated in the last 3 years.

[2021-09-22 16:32] fbiville opened #289 "`org.neo4j.jdbc.impl.Neo4jConnectionImpl#isMutating` is broken"
Regex-based approaches to determine whether a given statement mutates data is not going to work.

This only affects the HTTP connector.

[2021-11-19 10:19] sarce666 opened #290 "cannot connect to neo4j aura DB"
hello
the aura db only ahtorize neo4j+s to connect to
when i try connect to my aura cloud db , i get this error
│   Error: LoadError: no such file to load -- sequel/adapters/neo4j+s                                                                                                               │
│   Exception: Sequel::AdapterNotFound

[2021-11-30 14:14] fbiville commented on #290
Hi, can you share your project setup in more details?
What dependencies are you using (at which version)?

[2022-01-23 07:13] sqlguard opened #291 "Vulnerabilities in dependency commons-beanutils:commons-beanutils 1.9.3"
Hi,
The latest Neo4j JDBC driver contains the commons-beanutils:commons-beanutils:1.9.3 package, which have known vulnerability described here:
https://nvd.nist.gov/vuln/detail/CVE-2019-10086

CVE: CVE-2019-10086
Details: In Apache Commons Beanutils 1.9.2, a special BeanIntrospector class was added which allows suppressing the ability for an attacker to access the classloader via the class propert